/* item */
/* item view */
.item-view-title {
  position: relative;
  padding: 40px 0;
  padding-left: 90px;
  .symbol {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    background-color: #efefef;
    border-radius: 10px;
  }
  .enabled {
    position: relative;
    top: -2px;
    height: 24px;
    margin-right: 5px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 22px;
  }
  .text {
    font-size: 18px;
    font-weight: 300;
    color: #666666;
  }
  .subject {
    font-size: 30px;
    color: #333333;
    line-height: 40px;
  }
  .up {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -25px;
  }
}

.item-view-row {
  position: relative;
  height: 60px;
  font-size: 15px;
  color: #333333;
  line-height: 58px;
  letter-spacing: 0;
  border-top: 1px solid #efefef;
  .right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .v-bar {
    margin-right: 40px;
    &::after {
      right: -20px;
      height: 16px;
      margin-top: -8px;
      border-left: 1px solid #ddd;
    }
  }
  .text-purple {
    color: #7e69fe;
    &:hover {
      text-decoration: underline;
    }
  }
  .lightgrey {
    font-weight: 300;
    color: #888888;
  }
  .Rajdhani {
    font-weight: 700;
  }
  .picture {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  .credit-percent {
    margin: 0 6px;
  }
  .icon-sns {
    margin: 0 8px;
  }
  .fw300 {
    font-weight: 300;
  }
  .price {
    margin: 0 4px 0 10px;
    font-size: 24px;
  }
}

.item-view-grade {
  font-size: 13px;
}

.item-view-idpw {
  margin-left: 20px;
  padding: 0 12px !important;
}

.item-view-user {
  position: relative;
  padding: 50px 0;
  border-top: 1px solid #dedede;
  li {
    position: relative;
    display: inline-block;
    width: 160px;
    padding: 30px 0;
    text-align: center;
  }
  .name {
    margin-top: 14px;
    font-size: 18px;
    color: #333333;
  }
  .date {
    font-size: 13px;
    font-weight: 300;
    color: #999;
  }
}

.item-view-caution {
  position: relative;
  padding: 50px;
  border: solid 1px #eeeeee;
  background-color: #fcfcfc;
  .tag {
    position: relative;
    span {
      display: inline-block;
      margin-right: 8px;
      height: 36px;
      padding: 0 15px;
      font-size: 16px;
      color: #666666;
      text-align: center;
      line-height: 34px;
      border-radius: 18px;
      background-color: #f0f0f0;
    }
  }
  .text {
    margin: 40px 0;
    font-size: 16px;
    color: #333;
    li {
      margin: 2px 0;
    }
  }
}

.item-view-check {
  position: relative;
  padding: 23px 50px;
  text-align: center;
  border: solid 1px #eeeeee;
  background-color: #fcfcfc;
  border-top: 0;
  .input-check input[type='checkbox'] + label {
    font-size: 16px;
    color: #666666;
  }
}
