.body {
  min-height: 600px;
  padding: 100px 0 100px 0;
}

.indicator {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  a {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 4px;
    background-color: #dbdbdb;
    border-radius: 5px;
    &.on {
      width: 18px;
      background-color: #7e69fe;
    }
  }
}

.item-list {
  position: relative;
  width: calc(100% + 26px);
  margin-left: -13px;
  margin-bottom: 60px;
  font-size: 0;
}

.item-row {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  margin: 13px;
  padding: 22px 30px;
  font-size: 13px;
  color: #666666;
  vertical-align: top;
  border-radius: 20px;
  border: solid 1px #dddddd;
  background-color: white;
  &:hover {
    border: 1px solid #a89cf4;
    cursor: pointer;
    .item-type {
      color: #684adf;
    }
  }
}

.item-type {
  font-size: 22px;
  color: #333333;
}

.item-title {
  white-space: nowrap;
  overflow: hidden;
}

.item-members {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 0;
}

.item-member {
  background: url('../images/icon-butsicon-small-glay.png') no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 9px;
  &.on {
    background: url('../images/icon-butsicon-small.png') no-repeat;
  }
  &:first-child {
    margin-left: 0;
  }
}

.item-info {
  position: relative;
}

.item-price {
  position: absolute;
  bottom: 18px;
  right: 26px;
  .Rajdhani {
    font-size: 20px;
    font-weight: 700;
    color: #252525;
  }
}

.item-thumb {
  position: relative;
  width: 62px;
  height: 62px;
  margin-top: 32px;
  border-radius: 9px;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.event {
  position: relative;
  margin-bottom: 55px;
  font-size: 0;
}

.event-banner {
  display: inline-block;
}

.recommand-list {
  position: relative;
  width: calc(100% + 26px);
  margin-left: -13px;
  margin-bottom: 55px;
  font-size: 0;
}

.recommand-thumb {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 168px;
  margin: 13px;
  border-radius: 20px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.item-list.gift {
  .item-date {
    position: absolute;
    top: 30px;
    right: 26px;
    font-size: 12px;
    color: #999999;
  }
  .item-price {
    .Rajdhani {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 1320px) {
  .body {
    padding: 86px 0 100px 0;
  }
  .title {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .item-list {
    width: calc(100% + 10px);
    margin-left: -5px;
  }
  .item-row {
    width: calc(50% - 10px);
    height: 100px;
    margin: 5px;
    padding: 11px 15px;
    font-size: 10px;
    border-radius: 10px;
  }
  .item-type {
    font-size: 12px;
  }
  .item-members {
    margin: 5px 0;
  }
  .item-member {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background-size: 16px 16px;
    &.on {
      background-size: 16px 16px;
    }
  }
  .item-price {
    bottom: 8px;
    right: 13px;
    .Rajdhani {
      font-size: 12px;
    }
  }
  .item-thumb {
    width: 31px;
    height: 31px;
    margin-top: 10px;
    border-radius: 5px;
  }
  .recommand-thumb {
    width: calc(50% - 10px);
    height: 84px;
    margin-left: 10px;
  }
}
