.accordion {
  position: relative;
  &.mg-top {
    margin-top: 40px;
  }
  li {
    position: relative;
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
  }
  .select {
    position: relative;
    display: block;
    width: 100%;
    font-size: 20px;
    color: #333;
    line-height: 24px;
    word-break: keep-all;
    border-radius: 20px;
    border: solid 1px #e3e1ee;
    background-color: #ffffff;
    overflow: hidden;
    &:hover,
    &.active {
      border: solid 1px #cec8f1;
      background-color: #f9f8ff;
    }
    &.active {
      .subject {
        color: #7e69fe;
      }
    }
  }
  .subject {
    position: relative;
    display: block;
    padding: 26px 110px 26px 40px;
    &:not(.collapsed) {
      .plus::after {
        display: none;
      }
    }
  }
  .plus {
    position: absolute;
    top: 50%;
    right: 40px;
    width: 38px;
    height: 38px;
    margin-top: -19px;
    background-color: #7e69fe;
    border-radius: 5px;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: white;
    }
    &::before {
      width: 14px;
      height: 2px;
      margin-left: -7px;
      margin-top: -1px;
    }
    &::after {
      width: 2px;
      height: 14px;
      margin-left: -1px;
      margin-top: -7px;
    }
  }
  .article {
    margin: 0 40px 40px 40px;
    font-size: 14px;
    line-height: 24px;
  }
  .input-check {
    width: 100%;
    height: 100%;
  }
  .input-check input[type='radio'] + label {
    width: 100%;
    height: 100%;
    padding: 27px 110px 23px 75px;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
    &::before {
      left: 40px;
    }
    &::after {
      left: 45px;
    }
  }
  input[type='radio']:checked + label {
    background-color: #f9f8ff;
  }
  .right {
    position: absolute;
    top: 23px;
    right: 36px;
    .button {
      width: 79px;
      text-align: right;
      vertical-align: middle;
    }
  }
  .Rajdhani {
    margin-right: 4px;
    font-size: 22px;
    font-weight: 700;
    color: #333333;
    vertical-align: -1px;
  }
  .icon {
    position: relative;
    top: -2px;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 10px;
  }
  .benefit {
    position: relative;
    top: 2px;
    margin-right: 15px;
  }
}

/* charge */
.charge-tab {
  position: relative;
  display: flex;
  background: url('./img/payment_tab_bg.jpg') no-repeat 50% 0;
  background-size: cover;
  border: solid 1px #e3e1ee;
  border-top: 1px solid #7e69fe;
  overflow: hidden;
  a {
    position: relative;
    display: block;
    width: 100%;
    padding: 26px 0 34px 0;
    font-size: 22px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    background-color: white;
    border-left: solid 1px #e3e1ee;
    &.on {
      color: white;
      background-color: transparent;
      z-index: 1;
      .lightgrey {
        color: white;
      }
    }
    &:first-child {
      border-left: 0;
    }
  }
  .lightgrey {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #888888;
  }
}

@media screen and (max-width: 960px) {
  .accordion {
    margin-top: 15px;
    &.mg-top {
      margin-top: 20px;
    }
    li {
      border-radius: 10px;
    }
    .select {
      font-size: 12px;
      line-height: 16px;
      border-radius: 10px;
    }
    .subject {
      padding: 12px 45px 12px 15px;
    }
    .plus {
      right: 15px;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      border-radius: 3px;
      &:before {
        width: 8px;
        margin-left: -4px;
      }
      &:after {
        height: 8px;
        margin-top: -4px;
      }
    }
    .article {
      margin: 0 15px 15px 15px;
      font-size: 11px;
      line-height: 18px;
    }
    .input-check input[type='radio'] + label {
      padding: 13px 60px 11px 45px;
      font-size: 11px;
      &::before {
        left: 15px;
      }
      &::after {
        left: 20px;
      }
    }
    .right {
      top: 9px;
      right: 15px;
      .button {
        width: 58px;
      }
    }
    .Rajdhani {
      font-size: 14px;
    }
    .icon {
      top: -1px;
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    .tip {
      display: block;
      margin-top: -3px;
      font-size: 10px;
    }
    .benefit {
      margin-right: 8px;
    }
  }
  .charge-tab {
    a {
      height: auto;
      padding: 10px 10px 14px 10px;
      font-size: 12px;
    }
    .lightgrey {
      margin-top: 4px;
      font-size: 11px;
      line-height: 12px;
    }
  }
}
