.accordion {
  position: relative;
}

.accordion.mg-top {
  margin-top: 40px;
}

.accordion li {
  position: relative;
  margin-top: 5px;
}

.accordion li.collapsed {
  border: solid 1px #cec8f1;
  background-color: #f9f8ff;
}

.accordion li.collapsed .icon::after {
  display: none;
}

.accordion li.collapsed .article {
  display: block;
}

.accordion li:hover {
  border: solid 1px #cec8f1;
  background-color: #f9f8ff;
}

.accordion li:first-child {
  margin-top: 0;
}

.accordion .select {
  position: relative;
  display: block;
  width: 100%;
  padding: 26px 110px 26px 40px;
  font-size: 20px;
  color: #333;
  line-height: 24px;
  word-break: keep-all;
  border-radius: 20px;
  border: solid 1px #e3e1ee;
  background-color: #ffffff;
  overflow: hidden;
}

.accordion .plus {
  position: absolute;
  top: 50%;
  right: 40px;
  width: 38px;
  height: 38px;
  margin-top: -19px;
  background-color: #7e69fe;
  border-radius: 5px;
}

.accordion .plus::before, .accordion .plus:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
}

.accordion .plus:before {
  width: 14px;
  height: 2px;
  margin-left: -7px;
  margin-top: -1px;
}

.accordion .plus:after {
  width: 2px;
  height: 14px;
  margin-left: -1px;
  margin-top: -7px;
}

.accordion .article {
  display: none;
  margin: 0 40px 40px 40px;
  font-size: 14px;
  line-height: 24px;
}

.accordion .input-check {
  width: 100%;
  height: 100%;
}

.accordion .input-check input[type='radio'] + label {
  width: 100%;
  height: 100%;
  padding: 24px 110px 20px 75px;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
}

.accordion .input-check input[type='radio'] + label::before {
  left: 40px;
}

.accordion .input-check input[type='radio'] + label::after {
  left: 45px;
}

.accordion .right {
  position: absolute;
  top: 24px;
  right: 36px;
  height: 32px;
}

.accordion .Rajdhani {
  margin-right: 4px;
  font-size: 22px;
  font-weight: 700;
  color: #333333;
  vertical-align: -1px;
}

.accordion .icon {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 10px;
}

.accordion .benefit {
  margin-right: 20px;
}

/* charge */
.charge-tab {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../../assets/css/img/payment_tab_bg.jpg") no-repeat 50% 0;
  background-size: cover;
  border: solid 1px #e3e1ee;
  border-top: 1px solid #7e69fe;
  overflow: hidden;
}

.charge-tab a {
  position: relative;
  display: block;
  width: 100%;
  padding: 26px 0 34px 0;
  font-size: 22px;
  font-weight: 500;
  color: #333333;
  text-align: center;
  background-color: white;
  border-left: solid 1px #e3e1ee;
}

.charge-tab a.on {
  color: white;
  background-color: transparent;
  z-index: 1;
}

.charge-tab a.on .lightgrey {
  color: white;
}

.charge-tab a:first-child {
  border-left: 0;
}

.charge-tab .lightgrey {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #888888;
}

@media screen and (max-width: 960px) {
  .accordion {
    margin-top: 15px;
  }
  .accordion.mg-top {
    margin-top: 20px;
  }
  .accordion li {
    border-radius: 10px;
  }
  .accordion .select {
    padding: 12px 45px 12px 15px;
    font-size: 12px;
    line-height: 16px;
  }
  .accordion .plus {
    right: 15px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 3px;
  }
  .accordion .plus:before {
    width: 8px;
    margin-left: -4px;
  }
  .accordion .plus:after {
    height: 8px;
    margin-top: -4px;
  }
  .accordion .article {
    margin: 0 15px 15px 15px;
    font-size: 11px;
    line-height: 18px;
  }
  .accordion .input-check input[type='radio'] + label {
    padding: 13px 60px 11px 45px;
    font-size: 11px;
  }
  .accordion .input-check input[type='radio'] + label::before {
    left: 15px;
  }
  .accordion .input-check input[type='radio'] + label::after {
    left: 20px;
  }
  .accordion .right {
    top: 10px;
    right: 13px;
    height: 24px;
  }
  .accordion .Rajdhani {
    font-size: 14px;
  }
  .accordion .icon {
    top: -1px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .accordion .tip {
    display: block;
    margin-top: -3px;
  }
  .accordion .benefit {
    margin-right: 8px;
  }
  .charge-tab a {
    height: auto;
    padding: 10px 10px 14px 10px;
    font-size: 12px;
  }
  .charge-tab .lightgrey {
    margin-top: 4px;
    font-size: 11px;
    line-height: 12px;
  }
}
/*# sourceMappingURL=charge.css.map */