/* comment */
.comment-box {
  position: relative;
  &.mg-top {
    margin-top: 75px;
  }
}

.comment-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333333;
}

.comment-wirte {
  position: relative;
  height: 110px;
  font-size: 0;
  background-color: #fcfcfc;
  .select {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 100%;
    border: solid 1px #d8d8d8;
    border-right: 1px solid #dddddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  select {
    position: absolute;
    top: 13px;
    left: 16px;
    width: calc(100% - 35px);
    font-size: 16px;
    border: 0;
    background-color: transparent;
  }
  .secret {
    position: absolute;
    bottom: 14px;
    right: 20px;
  }
  textarea {
    width: calc(100% - 200px - 120px);
    height: 100%;
    padding: 20px 25px;
    font-size: 16px;
    color: #666666;
    border: 0;
    border-top: solid 1px #d8d8d8;
    border-bottom: solid 1px #d8d8d8;
    background-color: transparent;
  }
  .opentalk {
    position: absolute;
    bottom: 10px;
    right: 140px;
    color: #666666;
  }
  .ttip {
    top: -1px;
    vertical-align: middle;
  }
  .button-apply {
    display: inline-block;
    width: 120px;
    height: 100%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 106px;
    background-color: #7e69fe;
    vertical-align: top;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.comment-list {
  position: relative;
  margin-top: 30px;
  li {
    position: relative;
    padding: 0 90px;
    &.right {
      text-align: right;
      .picture {
        left: auto;
        right: 0;
      }
      .balloon {
        background-color: #ffe850;
        &::before {
          left: auto;
          right: -12px;
          border-right: 0;
          border-left: 12px solid #ffe850;
        }
      }
    }
  }
  .picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
  }
  .balloon {
    position: relative;
    display: inline-block;
    max-width: 500px;
    padding: 16px 25px;
    border-radius: 10px;
    background-color: #f0f0f0;
    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: -12px;
      border-bottom: 12px solid transparent;
      border-right: 12px solid #f0f0f0;
    }
  }
  .to {
    font-size: 12px;
    font-weight: 300;
    color: #666666;
  }
  .speech {
    font-size: 16px;
    color: #333333;
    word-break: keep-all;
  }
  .option {
    margin-top: 5px;
    padding: 0 2px;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
    .v-bar {
      margin-right: 18px;
      &::after {
        width: 3px;
        height: 3px;
        right: -11px;
        border: 0;
        margin-top: -1px;
        background-color: #ececec;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .comment-box {
    &.mg-top {
      margin-top: 30px;
    }
  }
  .comment-title {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .comment-wirte {
    height: auto;
    .select {
      display: block;
      width: 100%;
      height: 32px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    select {
      position: relative;
      top: auto;
      left: auto;
      width: calc(100% - 100px);
      font-size: 11px;
      border: 0;
      background-color: transparent;
    }
    .secret {
      position: absolute;
      bottom: 6px;
      right: 10px;
    }
    textarea {
      width: 100%;
      height: 80px;
      padding: 10px 15px;
      font-size: 11px;
      border: 0;
      border-left: solid 1px #d8d8d8;
      border-right: solid 1px #d8d8d8;
    }
    .opentalk {
      bottom: -35px;
      right: 2px;
    }
    .ttip {
      top: -1px;
      vertical-align: middle;
    }
    .button-apply {
      display: block;
      width: 100%;
      height: 40px;
      font-size: 12px;
      line-height: 38px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .comment-list {
    margin-top: 50px;
    li {
      margin-bottom: 12px;
      padding: 0 45px;
      &.right {
        .balloon {
          &::before {
            right: -6px;
            border-left: 6px solid #ffe850;
          }
        }
      }
    }
    .picture {
      width: 30px;
      height: 30px;
    }
    .balloon {
      padding: 8px 12px;
      &::before {
        left: -6px;
        border-bottom: 6px solid transparent;
        border-right: 6px solid #f0f0f0;
      }
    }
    .to {
      font-size: 10px;
    }
    .speech {
      font-size: 11px;
      line-height: 14px;
    }
    .option {
      margin-top: 2px;
      font-size: 11px;
    }
  }
}
