@charset "UTF-8";
body {
  padding: 0;
  font-size: 13px;
  font-family: 'Noto Sans KR', 'NanumGothic', '나눔고딕', ng, 'Malgun Gothic', Gulim, Dotum, Sans-Serif !important;
  font-weight: 400;
  line-height: 1.6;
  color: #666;
  background-color: white;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility;
  background-attachment: fixed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:link,
a:visited {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #7e69fe;
}

img,
embed,
object,
video {
  max-width: 100%;
}

select {
  height: 38px;
  padding: 0 10px;
  font-size: 14px;
  color: #333;
  border: solid 1px #dddddd;
  background-color: white;
}

select:focus {
  border: solid 1px #7e69fe;
}

textarea {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  resize: none;
  border: solid 1px #dddddd;
  background-color: white;
  outline: none;
}

textarea:focus {
  border: solid 1px #7e69fe;
}

textarea::-webkit-input-placeholder {
  color: #aaa;
}

textarea:-ms-input-placeholder {
  color: #aaa;
}

textarea::-ms-input-placeholder {
  color: #aaa;
}

textarea::placeholder {
  color: #aaa;
}

input[type='submit']:focus {
  outline: none;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  height: 38px;
  font-size: 14px;
  padding: 0 15px;
  font-size: 14px;
  color: #333;
  border: solid 1px #dddddd;
  background-color: white;
  outline: none;
}

input[type='text']:focus,
input[type='password']:focus {
  border: solid 1px #a89cf4;
}

input[type='text']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder {
  color: #aaa;
}

input[type='text']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder {
  color: #aaa;
}

input[type='text']::-ms-input-placeholder,
input[type='password']::-ms-input-placeholder {
  color: #aaa;
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  color: #aaa;
}

input[type='text']:disabled,
input[type='password']:disabled {
  background-color: #ececec;
}

.input-check {
  position: relative;
  display: inline-block;
}

.input-check input[type='checkbox'] {
  /* 실제 체크박스는 화면에서 숨김 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-check input[type='checkbox'] + label {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.input-check input[type='checkbox'] + label:before {
  content: '';
  display: inline-block;
  width: 18px;
  /* 체크박스의 너비를 지정 */
  height: 18px;
  /* 체크박스의 높이를 지정 */
  line-height: 18px;
  /* 세로정렬을 위해 높이값과 일치 */
  margin: -3px 8px 0 0;
  text-align: center;
  vertical-align: middle;
  background: #ececec;
  border: 1px solid #ececec;
  border-radius: 3px;
}

.input-check input[type='checkbox'] + label:active:before,
.input-check input[type='checkbox']:checked + label:active:before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.input-check input[type='checkbox']:checked + label:before {
  /* 체크박스를 체크했을때 */
  content: '\2714';
  /* 체크표시 유니코드 사용 */
  font-size: 12px;
  font-weight: 600;
  color: #7e69fe;
  line-height: 16px;
  border-color: #7e69fe;
}

.input-check input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-check input[type='radio'] + label {
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  padding-left: 28px;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.input-check input[type='radio'] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
}

.input-check input[type='radio'] + label:active:before,
.input-check input[type='radio']:checked + label:active:before {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.input-check input[type='radio']:checked + label:before {
  background: #e9ecee;
  border-color: #adb8c0;
}

.input-check input[type='radio']:checked + label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  background: #99a1a7;
  border-radius: 100%;
  background-color: #7e69fe;
}

.input-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 32px;
}

.input-file label {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  z-index: 1;
}

.input-file input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.input-file .file-name {
  width: calc(100% - 150px);
  height: 32px;
  max-width: 100%;
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
  color: #999;
  vertical-align: middle;
  border: 0;
  background-color: transparent;
}

.user-select {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.user-select img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.Rajdhani {
  font-family: 'Rajdhani';
}

.text-purple {
  color: #7e69fe !important;
}

.text-red {
  color: #fb4c16;
}

.pc-block {
  display: block !important;
}

.pc-inline {
  display: inline-block !important;
}

.pc-table {
  display: table-cell !important;
}

.mobile-block {
  display: none !important;
}

.mobile-inline {
  display: none !important;
}

.wrap {
  position: relative;
  overflow: hidden;
}

.body {
  min-height: 600px;
  padding: 100px 0;
}

.width-container {
  position: relative;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.mw-800 {
  max-width: 800px;
  margin: 0 auto;
}

.mw-400 {
  max-width: 400px;
  margin: 0 auto;
}

.v-bar {
  position: relative;
  display: inline-block;
}

.v-bar::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  height: 12px;
  margin-top: -6px;
  border-left: 1px solid #ececec;
}

.v-bar.left {
  margin-left: 40px;
}

.v-bar.left::after {
  left: -20px;
}

.v-bar.right {
  margin-right: 40px;
}

.v-bar.right::after {
  right: -20px;
}

.title-wrap {
  position: relative;
}

.title-wrap .title-right {
  position: absolute;
  top: 0;
  right: 0;
}

.title-wrap.border {
  border-bottom: 2px solid #7e69fe;
}

.title {
  position: relative;
  margin-top: 56px;
  margin-bottom: 24px;
  font-size: 22px;
  color: #333333;
  line-height: 32px;
}

.title .text {
  display: inline-block;
  font-size: 22px;
  color: #333333;
}

.title .button {
  margin-left: 15px;
  vertical-align: top;
}

.h3 {
  position: relative;
  margin-top: 56px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}

.text-head {
  position: relative;
  padding: 0 10px;
  font-size: 28px;
  color: #333333;
  margin: 70px 0 16px 0;
}

.text-head.center {
  text-align: center;
}

.text-para {
  position: relative;
  margin: 0 auto 10px auto;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 300;
  color: #666666;
  word-break: keep-all;
  line-height: 22px;
}

.text-para.center {
  text-align: center;
}

.text-logo {
  margin-right: 4px;
  vertical-align: -2px;
}

.button {
  position: relative;
  display: inline-block;
  min-width: 240px;
  height: 70px;
  margin: 1px 0;
  padding: 0 10px;
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 68px;
  border: 0;
  border-radius: 5px;
  background-color: #cecdd4;
  overflow: hidden;
}

.button:link, .button:visited {
  color: white;
  text-decoration: none;
}

.button.round {
  min-width: auto;
  padding: 0 16px;
  height: 32px;
  font-size: 14px;
  line-height: 30px;
  border-radius: 17px;
}

.button.mini {
  min-width: 50px;
  height: 32px;
  font-size: 15px;
  line-height: 30px;
}

.button.small {
  min-width: 100px;
  height: 50px;
  font-size: 16px;
  line-height: 48px;
}

.button.large {
  min-width: 340px;
  height: 80px;
  font-size: 20px;
  line-height: 78px;
}

.button.border {
  color: #666666;
  border: solid 1px #dddddd;
  background-color: #f4f4f4;
}

.button.border.button-purple {
  color: #7e69fe;
  border: solid 1px #a89cf4;
  background-color: #ffffff;
}

.button.border.button-red {
  color: #fb4c16;
  border: solid 1px #fb4c16;
  background-color: #ffffff;
}

.button.button-purple {
  background-color: #7e69fe;
}

.button.button-red {
  background-color: #fb4c16;
}

.button.button-yellow {
  background-color: #ffc000;
}

.button.button-green {
  background-color: #4bb640;
}

.button.button-blue {
  background-color: #1697fb;
}

.button.button-white {
  background-color: #ffffff;
}

.button-align {
  position: relative;
  min-height: 53px;
  margin-top: 60px;
}

.button-align .button {
  vertical-align: top;
}

.button-align .float-left {
  float: left;
}

.button-align .float-right {
  float: right;
}

.button-align.center {
  text-align: center;
}

.button-align.left {
  text-align: left;
}

.button-align.right {
  text-align: right;
}

.button-align.border {
  margin-top: 0;
  padding-top: 30px;
  border-top: 1px solid #333333;
}

.button-align.border.number .page-number {
  margin-top: 36px;
}

.button-align.mg-top-0 {
  margin-top: 0;
}

.button-align.number .button {
  z-index: 1;
}

.button-align.number .page-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 6px 0;
}

.indicator {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center;
}

.indicator a,
.indicator span {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0 4px;
  background-color: #dbdbdb;
  border-radius: 5px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.indicator a.on,
.indicator span.on {
  width: 18px;
  background-color: #7e69fe;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.credit-percent {
  position: relative;
  display: inline-block;
  width: 98px;
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f0f0f0;
  -webkit-box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.credit-bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 8px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px -1px 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px -1px 3px 0 rgba(0, 0, 0, 0.15);
  background-blend-mode: overlay, normal;
}

.credit-bar.credit-7 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, right top, from(#fe6262), to(#ed4b1c));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to right, #fe6262, #ed4b1c);
  width: 14%;
}

.credit-bar.credit-6 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, right top, from(#ff8f60), to(#fe6362));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to right, #ff8f60, #fe6362);
  width: 28%;
}

.credit-bar.credit-5 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, right top, from(#ffc66d), to(#ff7f5b));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to right, #ffc66d, #ff7f5b);
  width: 42%;
}

.credit-bar.credit-4 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, right top, from(#26e3dc), to(#11c1f1));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to right, #26e3dc, #11c1f1);
  width: 56%;
}

.credit-bar.credit-3 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, right top, from(#15d4fe), to(#7d94fa));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to right, #15d4fe, #7d94fa);
  width: 70%;
}

.credit-bar.credit-2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, right top, from(#64b9f3), to(#7d6afe));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to right, #64b9f3, #7d6afe);
  width: 84%;
}

.credit-bar.credit-1 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left top, right top, from(#19dbdf), to(#7d6afe));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(to right, #19dbdf, #7d6afe);
  width: 100%;
}

.ttip {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 14px;
  margin-left: 4px;
  vertical-align: top;
  z-index: 1;
}

.ttip .ttip-text {
  position: absolute;
  top: 26px;
  display: none;
  padding: 8px 10px;
  font-size: 12px;
  font-weight: 300;
  color: #7e69fe;
  word-break: keep-all;
  line-height: 16px;
  border: 1px solid #d5d0f5;
  background-color: #f4f3fc;
  border-radius: 2px;
}

.ttip:hover .ttip-text {
  display: block;
}

.search-bar {
  position: relative;
  font-size: 0;
}

.search-bar select,
.search-bar input,
.search-bar .submit {
  border: 0;
  border-bottom: 1px solid #7e69fe;
}

.search-bar select {
  width: 100px;
  margin-right: 15px;
}

.search-bar input {
  width: 240px;
  padding: 0;
}

.search-bar input:focus {
  border: 0;
  border-bottom: 1px solid #7e69fe;
}

.search-bar .submit {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 0;
  text-align: right;
  line-height: 40px;
  vertical-align: middle;
  background-color: transparent;
}

.page-number {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 30px 0 20px 0;
  border-top: 1px solid #333333;
}

.page-number ul {
  font-size: 0;
}

.page-number li {
  display: inline-block;
}

.page-number li.active a {
  width: 38px;
  height: 38px;
  margin: 0 6px;
  color: white;
  text-decoration: none;
  background-color: #7e69fe;
  border-radius: 50%;
  cursor: default;
}

.page-number a {
  display: block;
  width: 38px;
  height: 38px;
  font-size: 16px;
  font-weight: 300;
  color: #aaaaaa;
  text-align: center;
  line-height: 36px;
}

.page-number a:hover {
  text-decoration: underline;
}

.item-name {
  position: relative;
  display: block;
  margin-left: 10px;
  padding: 28px 0 27px 45px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  text-align: left;
  line-height: 18px;
}

.item-name a {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.item-name .brand {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background-color: #efefef;
  border-radius: 5px;
}

.item-name .name {
  display: block;
}

.item-name .comment {
  font-size: 12px;
  color: #aaaaaa;
}

.caution {
  position: relative;
  padding: 24px 30px;
  margin-top: 40px;
  font-size: 13px;
  font-weight: 300;
  color: #888888;
  word-break: keep-all;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #f9f9f9;
}

.caution ul {
  list-style: decimal;
  margin-left: 10px;
}

.caution li {
  padding: 2px 0;
}

.caution strong {
  display: inline-block;
  margin-bottom: 8px;
  font-weight: 400;
  color: #333333;
}

.caution p {
  margin: 8px 0 0 0;
}

.empty {
  position: relative;
  padding: 150px 0;
  text-align: center;
}

.empty .icon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.empty h5 {
  margin: 30px 0 20px 0;
  font-size: 22px;
  color: #333;
}

.empty p {
  font-size: 16px;
  color: #aaa;
}

.sns-share-icon {
  margin: 60px 0 30px 0;
  text-align: right;
}

.sns-share-icon img {
  border-radius: 5px;
}

@media screen and (max-width: 1320px) {
  .width-container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 960px) {
  select {
    padding: 0 8px;
  }
  .body {
    min-height: 300px;
    padding: 140px 0 50px 0;
  }
  .body.main {
    padding: 140px 0 0 0;
  }
  .body.main .width-container {
    margin-top: -50px;
    padding-bottom: 28%;
  }
  .width-container {
    padding: 0 10px;
  }
  .pc-block {
    display: none !important;
  }
  .pc-inline {
    display: none !important;
  }
  .pc-table {
    display: none !important;
  }
  .mobile-block {
    display: block !important;
  }
  .mobile-inline {
    display: inline-block !important;
  }
  select {
    height: 28px;
    padding: 0 5px;
    font-size: 11px;
  }
  textarea {
    height: 100px;
    padding: 10px;
    font-size: 11px;
  }
  input[type='text'],
  input[type='password'] {
    height: 28px;
    padding: 0 8px;
    font-size: 11px;
  }
  .input-check input[type='checkbox'] + label {
    font-size: 11px;
  }
  .input-check input[type='checkbox'] + label::before {
    margin: -2px 6px 0 0;
  }
  .input-file {
    height: 24px;
  }
  .input-file .file-name {
    width: calc(100% - 80px);
    height: 24px;
    margin-left: 10px;
    font-size: 11px;
  }
  .v-bar::after {
    height: 10px;
    margin-top: -5px;
  }
  .v-bar.left {
    margin-left: 20px;
  }
  .v-bar.left::after {
    left: -10px;
  }
  .v-bar.right {
    margin-right: 20px;
  }
  .v-bar.right::after {
    right: -10px;
  }
  .mg-top-minus {
    margin-top: -50px !important;
  }
  .title {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 12px;
    line-height: 24px;
  }
  .title .text {
    font-size: 13px;
  }
  .title .button {
    margin-left: 8px;
  }
  .h3 {
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 13px;
  }
  .text-head {
    font-size: 15px;
    margin: 25px 0 10px 0;
  }
  .text-para {
    font-size: 11px;
    line-height: 18px;
  }
  .text-logo {
    width: 50px;
    vertical-align: -1px;
  }
  .button {
    min-width: 110px;
    height: 42px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 42px;
  }
  .button.round {
    padding: 0 10px;
    height: 24px;
    font-size: 11px;
    line-height: 22px;
  }
  .button.mini {
    min-width: 36px;
    height: 24px;
    font-size: 11px;
    line-height: 24px;
  }
  .button.small {
    min-width: 60px;
    height: 32px;
    font-size: 11px;
    line-height: 32px;
  }
  .button.large {
    min-width: 130px;
    height: 46px;
    font-size: 14px;
    line-height: 46px;
  }
  .button-align {
    margin-top: 30px;
  }
  .button-align.border {
    padding-top: 15px;
  }
  .button-align.border.number .page-number {
    position: relative;
    display: block;
    margin: 0 0 15px 0;
  }
  .search-bar {
    margin-top: -5px;
  }
  .search-bar select {
    width: 70px;
    margin-right: 8px;
  }
  .search-bar input {
    width: 130px;
  }
  .search-bar .submit {
    width: 26px;
    height: 28px;
    line-height: 28px;
  }
  .search-bar .submit img {
    width: 16px;
    height: 16px;
  }
  .item-name {
    padding: 18px 0 17px 32px;
    font-size: 12px;
    line-height: 14px;
  }
  .item-name a {
    font-size: 12px;
  }
  .item-name .brand {
    width: 24px;
    height: 24px;
    margin-top: -12px;
  }
  .item-name .comment {
    font-size: 10px;
  }
  .caution {
    padding: 13px 15px;
    margin-top: 20px;
    font-size: 11px;
  }
  .caution li {
    line-height: 14px;
  }
  .caution strong {
    margin-bottom: 4px;
  }
  .caution p {
    margin: 4px 0 0 0;
    line-height: 14px;
  }
  .page-number {
    padding: 10px 0;
  }
  .page-number li.active a {
    width: 24px;
    height: 24px;
    margin: 0;
    line-height: 24px;
  }
  .page-number a {
    width: 24px;
    height: 24px;
    margin: 0 -1px;
    font-size: 11px;
    line-height: 24px;
  }
  .empty {
    padding: 80px 0;
  }
  .empty .icon {
    width: 60px;
    height: 60px;
  }
  .empty h5 {
    margin: 16px 0 10px 0;
    font-size: 12px;
  }
  .empty p {
    font-size: 11px;
  }
  .sns-share-icon {
    margin: 30px 0 15px 0;
  }
  .sns-share-icon img {
    max-width: 25px;
  }
}
/*# sourceMappingURL=common.css.map */