.header {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  border-bottom: 1px solid #ffe655;
  z-index: 1000;
  &.fixed {
    position: fixed;
    top: 0;
  }
}

.header-logo {
  position: relative;
  display: inline-block;
  padding-top: 40px;
  z-index: 1;
}

.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  &.pc {
    text-align: center;
    ul {
      display: inline-block;
    }
    .sub-menu {
      display: none;
    }
  }
  &.mobile {
    display: none;
  }
  .menu-li {
    display: inline-block;
    &:hover,
    &.on {
      .menu-a {
        color: #333333;
        border-bottom: 3px solid #7e69fe;
      }
    }
  }
  .menu-a {
    position: relative;
    display: inline-block;
    height: 100px;
    padding: 0 40px;
    font-size: 22px;
    color: #888888;
    text-align: center;
    line-height: 100px;
  }
  .sub-menu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.15);
  }
  .sub-width {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 0 45px 0;
    text-align: left;
    ul {
      padding-left: 200px;
    }
  }
  .sub-tip {
    position: absolute;
    top: 34px;
    left: 0;
    font-size: 16px;
    color: #333333;
    z-index: 1;
    .ttip {
      top: -2px;
    }
  }
  .sub-li {
    display: inline-block;
    &:hover,
    &.on {
      .sub-a {
        color: #7e69fe;
        border: solid 1px #a89cf4;
      }
    }
  }
  .sub-a {
    position: relative;
    display: inline-block;
    height: 38px;
    margin: 5px;
    padding: 0 20px;
    font-size: 16px;
    text-align: center;
    color: #333333;
    line-height: 35px;
    border-radius: 19px;
    border: solid 1px #dddddd;
    background-color: white;
  }

  .sub-search {
    position: relative;
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #5d5d5d;
    img {
      position: relative;
      top: 2px;
    }
    input {
      width: calc(100% - 20px);
      height: 62px;
      font-size: 18px;
      font-weight: 300;
      color: #999;
      border: 1px solid white;
      &:focus {
        color: #333333;
      }
    }
  }
}

.header-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

a.header-login {
  position: relative;
  display: inline-block;
  width: 116px;
  height: 34px;
  margin-top: 35px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 32px;
  border-radius: 17px;
  background-color: #7e69fe;
}

.header-user {
  position: relative;
  display: inline-block;
  padding: 25px 0;
  .picture {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 14px;
    vertical-align: middle;
    overflow: hidden;
  }
  .arrow {
    margin: 0 4px 0 20px;
  }
}

.header-hamberger {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 50px;
  height: 50px;
  padding: 17px 15px;
  z-index: 1;
  .line {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-top: 2px solid #7e69fe;
    border-bottom: 2px solid #7e69fe;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      margin-top: -1px;
      border-top: 2px solid #7e69fe;
    }
  }
}

.header-profile {
  position: absolute;
  top: 90px;
  right: 0;
  width: 210px;
  background-color: white;
  border: 1px solid #cdccd6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  &::before {
    content: '';
    position: absolute;
    top: -8px;
    right: -1px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAICAYAAAArzdW1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA4FpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQ1IDc5LjE2MzQ5OSwgMjAxOC8wOC8xMy0xNjo0MDoyMiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo1MDM1MmZiMC0yZTU5LTBkNDgtYWJiZC0yZDBjYWY5OTViZTQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NTBCNDA4NzI0QzBCMTFFQjgxREQ5NzY4QjA2QzcxMkIiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NTBCNDA4NzE0QzBCMTFFQjgxREQ5NzY4QjA2QzcxMkIiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIDIxLjAgKFdpbmRvd3MpIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6ZTM3YTMxZGUtN2RhNi1hYjRkLWI1NWQtM2U1OGM1NjVmZGNhIiBzdFJlZjpkb2N1bWVudElEPSJhZG9iZTpkb2NpZDpwaG90b3Nob3A6ZTliYWQ0Y2QtYjZiZC03YTQ5LTgzMjUtMmMzMjhiM2VhZmNlIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+32Au0AAAAINJREFUeNpiPHvmGgMWYATEG5iYmGT//ftXxIRFgQoQ75CTl5TV1FIE8bNZ0BTIAPFeGRlxURERAZiYMrJJokC8TUpaVE5MXAhFJ0wRFxBvlpQU0ZWQEMGwH6SIDYg3iYsLmUtKiWLzBFjRYjExIWdpGXEGXIBJVEwwTEYWtwIQAAgwAGdVEWm4Iz9lAAAAAElFTkSuQmCC')
      no-repeat;
    width: 9px;
    height: 8px;
  }
  .block {
    position: relative;
    padding: 0 20px;
    border-top: 1px solid #f0f0f0;
    &:first-child {
      border-top: 0;
      padding: 20px 20px 10px 20px;
      background-color: #faf9fe;
    }
  }
  .picture {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    &.mobile {
      display: none;
    }
  }
  .menu {
    margin: 12px 0;
    li {
      position: relative;
      padding: 2px 0;
    }
    a {
      display: block;
      font-size: 14px;
      color: #555555;
      letter-spacing: -0.8px;
      &:hover {
        color: #222;
      }
    }
  }
  .name {
    font-size: 17px;
    color: #7e69fe;
    text-align: center;
  }
  .credit-percent {
    display: block;
    margin: 8px auto 4px auto;
  }
  .grade {
    text-align: center;
  }
  .buttons {
    position: relative;
    font-size: 0;
    display: flex;
    margin: 12px 0 8px 0;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #7e69fe;
    background-color: white;
    a {
      display: inline-block;
      width: 100%;
      height: 30px;
      font-size: 13px;
      color: #7e69fe;
      text-align: center;
      line-height: 30px;
      &:hover {
        color: white;
        background-color: #7e69fe;
      }
      &:nth-child(n + 2) {
        border-left: 1px solid #7e69fe;
      }
    }
  }
  .point {
    position: relative;
    margin: 2px 0;
  }
  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    img {
      width: 100%;
    }
  }
  .price {
    font-size: 17px;
    font-weight: 600;
    color: #7e69fe;
    line-height: 20px;
  }
  a.charge {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 29px;
    height: 18px;
    margin-left: 6px;
    font-size: 12px;
    color: #7e69fe;
    text-align: center;
    line-height: 14px;
    border-radius: 2px;
    background-color: white;
    border: 1px solid #7e69fe;
    &.fill {
      color: white;
      background-color: #7e69fe;
      &:hover {
        color: white;
      }
    }
    &:hover {
      color: #7e69fe;
    }
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.header-logout {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-left: 2px;
  margin-right: -22px;
  line-height: 0;
  vertical-align: middle;
}

@media screen and (max-width: 1320px) {
  .header-right {
    right: 10px;
  }
  .header-menu {
    .sub-width {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 960px) {
  .header {
    top: 0;
    height: 50px;
    border-bottom: 1px solid #f0eff7;
  }
  .header-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 14px;
    text-align: center;
    img {
      width: 67px;
      height: 18px;
    }
  }
  .header-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #ffe655;
    background-color: white;
    .menu-li {
      width: 25%;
    }
    .menu-a {
      width: 100%;
      height: 40px;
      padding: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 40px;
    }
  }
  .header-right {
    left: 0;
    right: auto;
    width: 100%;
  }
  a.header-login {
    position: absolute;
    top: 13px;
    left: 15px;
    width: 56px;
    height: 22px;
    margin: 0;
    font-size: 12px;
    line-height: 20px;
  }
  .header-user {
    display: none;
  }
  .header-shade {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header-hamberger {
    display: block;
  }
  .header-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border: 0;
    .picture {
      &.mobile {
        display: block;
      }
    }
    .name {
      margin-top: 12px;
    }
  }
  .header-menu {
    .sub-menu {
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: auto;
      padding: 5px 10px;
      border-bottom: 1px solid #dddddd;
      box-shadow: none;
      overflow: hidden;
      overflow-x: auto;
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
      }
    }
    .sub-tip {
      display: none;
    }
    ul {
      white-space: nowrap;
    }
    .sub-a {
      height: 28px;
      padding: 0 14px;
      font-size: 13px;
      line-height: 25px;
    }
    &.pc {
      display: none;
    }
    &.mobile {
      display: block;
    }
  }
}
