/* item list */
.item-slide {
  position: relative;
}

.item-slide.party {
  margin-bottom: 20px;
}

.item-slide.party .item-list {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 452px;
}

.item-slide.party .item-list .item-row {
  height: 200px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.item-slide.gift .item-list {
  white-space: nowrap;
}

.item-slide.gift .item-date {
  position: absolute;
  top: 30px;
  right: 26px;
  font-size: 12px;
  color: #999999;
}

.item-slide.gift .item-price .Rajdhani {
  font-size: 30px;
}

.item-boundary {
  position: relative;
  overflow: hidden;
}

.slide-navi {
  position: absolute;
  top: 50%;
  display: none;
  width: 36px;
  height: 100px;
  margin-top: -50px;
  background-color: #fff;
  border-radius: 4px;
}

.slide-navi::before, .slide-navi::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 1px;
  background-color: #bbb;
}

.slide-navi.prev {
  left: -60px;
}

.slide-navi.prev::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: -7px 0 0 -10px;
}

.slide-navi.prev::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 7px 0 0 -10px;
}

.slide-navi.next {
  right: -60px;
}

.slide-navi.next::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -7px 0 0 -10px;
}

.slide-navi.next::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin: 7px 0 0 -10px;
}

.slide-navi:hover {
  background-color: #7e69fe;
}

.slide-navi:hover::before, .slide-navi:hover::after {
  background-color: #fff;
}

.item-list {
  position: relative;
  width: calc(100% + 26px);
  margin-top: -13px;
  margin-left: -13px;
  font-size: 0;
}

.item-row {
  position: relative;
  display: inline-block;
  width: calc(25% - 26px);
  margin: 13px;
  padding: 22px 30px;
  font-size: 13px;
  color: #666666;
  vertical-align: top;
  border-radius: 20px;
  border: solid 1px #dddddd;
  background-color: white;
}

.item-row:not(.disabled):hover {
  border: 1px solid #a89cf4;
}

.item-row:not(.disabled):hover .item-type {
  color: #684adf;
}

.item-row.disabled {
  color: #aaa;
}

.item-row.disabled .item-type {
  color: #aaa;
}

.item-row.disabled .item-member.plus .Rajdhani {
  color: #aaa;
}

.item-row.disabled .item-price .Rajdhani {
  color: #aaa;
}

.item-type {
  font-size: 22px;
  color: #333333;
}

.item-title {
  white-space: nowrap;
  overflow: hidden;
}

.item-members {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 0;
}

.item-member {
  position: relative;
  background: url("./img/icon-butsicon-small-glay.png") no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 9px;
  border-radius: 5px;
  vertical-align: top;
}

.item-member.on {
  background: url("./img/icon-butsicon-small.png") no-repeat;
}

.item-member:first-child {
  margin-left: 0;
}

.item-member.plus {
  font-size: 14px;
  text-align: center;
  background-image: none;
  border: 1px solid #ececec;
}

.item-member.plus .Rajdhani {
  font-size: 14px;
  font-weight: 600;
  color: #7e69fe;
  line-height: 30px;
  vertical-align: 1px;
}

.item-info {
  position: relative;
}

.item-price {
  position: absolute;
  bottom: 18px;
  right: 26px;
}

.item-price .Rajdhani {
  font-size: 20px;
  font-weight: 700;
  color: #252525;
}

.item-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-thumb {
  position: relative;
  width: 62px;
  height: 62px;
  margin-top: 32px;
  border-radius: 9px;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  overflow: hidden;
}

.item-thumb img {
  width: 100%;
  height: 100%;
}

/* item view */
.item-view-title {
  position: relative;
  padding: 40px 0;
  padding-left: 90px;
}

.item-view-title .symbol {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  background-color: #efefef;
  border-radius: 10px;
}

.item-view-title .enabled {
  position: relative;
  top: -2px;
  height: 24px;
  margin-right: 5px;
  padding: 0 12px;
  font-size: 13px;
  line-height: 22px;
}

.item-view-title .text {
  font-size: 18px;
  font-weight: 300;
  color: #666666;
}

.item-view-title .subject {
  font-size: 30px;
  color: #333333;
  line-height: 40px;
}

.item-view-title .up {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -25px;
}

.item-view-row {
  position: relative;
  height: 60px;
  font-size: 15px;
  color: #333333;
  line-height: 58px;
  letter-spacing: 0;
  white-space: nowrap;
  border-top: 1px solid #efefef;
}

.item-view-row .right {
  position: absolute;
  top: 0;
  right: 0;
}

.item-view-row .v-bar {
  margin-right: 40px;
}

.item-view-row .v-bar::after {
  right: -20px;
  height: 16px;
  margin-top: -8px;
  border-left: 1px solid #ddd;
}

.item-view-row .text-purple {
  color: #7e69fe;
}

.item-view-row .text-purple:hover {
  text-decoration: underline;
}

.item-view-row .lightgrey {
  font-weight: 300;
  color: #888888;
}

.item-view-row .Rajdhani {
  font-weight: 700;
}

.item-view-row .picture {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
}

.item-view-row .picture img {
  vertical-align: top;
}

.item-view-row .credit-percent {
  margin: 0 6px;
}

.item-view-row .icon-sns {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 8px;
  vertical-align: middle;
}

.item-view-row .icon-sns img {
  vertical-align: top;
}

.item-view-row .fw300 {
  font-weight: 300;
}

.item-view-row .price {
  margin: 0 4px 0 10px;
  font-size: 24px;
}

.item-view-grade {
  font-size: 13px;
}

.item-view-idpw {
  margin-left: 20px;
  padding: 0 12px !important;
}

.item-view-user {
  position: relative;
  padding: 50px 0;
  border-top: 1px solid #dedede;
}

.item-view-user li {
  position: relative;
  display: inline-block;
  width: 160px;
  padding: 30px 0;
  text-align: center;
}

.item-view-user .picture {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.item-view-user .name {
  margin-top: 14px;
  font-size: 18px;
  color: #333333;
}

.item-view-user .date {
  font-size: 13px;
  font-weight: 300;
  color: #999;
}

.item-view-caution {
  position: relative;
  padding: 50px;
  border: solid 1px #eeeeee;
  background-color: #fcfcfc;
}

.item-view-caution .tag {
  position: relative;
}

.item-view-caution .tag span {
  display: inline-block;
  margin-right: 8px;
  height: 36px;
  padding: 0 15px;
  font-size: 16px;
  color: #666666;
  text-align: center;
  line-height: 34px;
  border-radius: 18px;
  background-color: #f0f0f0;
}

.item-view-caution .text {
  margin-top: 40px;
  font-size: 16px;
  color: #333;
}

.item-view-caution .text li {
  margin: 2px 0;
}

.item-view-check {
  position: relative;
  padding: 23px 50px;
  text-align: center;
  border: solid 1px #eeeeee;
  background-color: #fcfcfc;
  border-top: 0;
}

.item-view-check .input-check input[type='checkbox'] + label {
  font-size: 16px;
  color: #666666;
}

@media screen and (max-width: 960px) {
  .item-list {
    width: calc(100% + 10px);
    margin-top: -5px;
    margin-left: -5px;
  }
  .item-row {
    width: calc(50% - 10px);
    margin: 5px;
    padding: 11px 15px;
    font-size: 10px;
    border-radius: 10px;
  }
  .item-type {
    font-size: 12px;
  }
  .item-thumb {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
  }
  .item-price {
    bottom: 6px;
    right: 10px;
  }
  .item-price .Rajdhani {
    font-size: 18px !important;
  }
  .item-members {
    margin: 12px 0;
  }
  .item-member {
    width: 26px;
    height: 26px;
    margin-left: 4px;
    background-size: 26px 26px;
  }
  .item-member.on {
    background-size: 26px 26px;
  }
  .item-member:first-child {
    margin-left: 0;
  }
  .item-member.plus {
    font-size: 13px;
  }
  .item-member.plus .Rajdhani {
    font-size: 13px;
    line-height: 24px;
  }
  .item-slide.party {
    margin-bottom: 30px;
  }
  .item-slide.party .item-list {
    height: 272px;
  }
  .item-slide.party .item-list .item-row {
    width: calc(50% - 10px);
    height: 126px;
  }
  .item-slide.gift .item-date {
    top: 11px;
    right: 10px;
    font-size: 10px;
  }
  .item-view-title {
    padding: 15px 0;
    padding-left: 54px;
  }
  .item-view-title .symbol {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 10px;
  }
  .item-view-title .enabled {
    position: relative;
    height: 20px;
    margin-right: 5px;
    padding: 0 8px;
    font-size: 11px;
    line-height: 18px;
    vertical-align: middle;
  }
  .item-view-title .text {
    font-size: 12px;
  }
  .item-view-title .subject {
    font-size: 14px;
    line-height: 20px;
  }
  .item-view-title .up {
    margin-top: -17px;
  }
  .item-view-row {
    height: 44px;
    font-size: 11px;
    line-height: 42px;
  }
  .item-view-row .v-bar {
    margin-right: 20px;
  }
  .item-view-row .v-bar::after {
    right: -10px;
    height: 10px;
    margin-top: -5px;
  }
  .item-view-row .picture {
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }
  .item-view-row .credit-percent {
    width: 60px;
  }
  .item-view-row .icon-sns {
    width: 16px;
    height: 16px;
    margin: 0 2px;
  }
  .item-view-row .price {
    font-size: 14px;
  }
  .item-view-grade {
    font-size: 11px;
  }
  .item-view-user {
    padding: 25px 0;
  }
  .item-view-user li {
    width: 25%;
  }
  .item-view-user .picture {
    width: 50px;
    height: 50px;
  }
  .item-view-user .name {
    margin-top: 10px;
    font-size: 12px;
  }
  .item-view-user .date {
    font-size: 11px;
  }
  .item-view-caution {
    padding: 20px;
  }
  .item-view-caution .tag span {
    margin-right: 8px;
    height: 22px;
    padding: 0 8px;
    font-size: 11px;
    line-height: 20px;
    border-radius: 10px;
  }
  .item-view-caution .text {
    margin-top: 15px;
    font-size: 11px;
  }
  .item-view-check {
    padding: 12px;
  }
  .item-view-check .input-check input[type='checkbox'] + label {
    font-size: 12px;
  }
}
/*# sourceMappingURL=item.css.map */