/* item list */
.item-sort {
  position: absolute;
  top: 5px;
  right: 125px;
  font-size: 14px;
  font-weight: 300;
  color: #aaaaaa;
  .v-bar {
    margin-right: 15px;
    &::after {
      right: -9px;
    }
  }
}

.item-slide {
  position: relative;
  &.party {
    margin-bottom: 20px;
    .item-list {
      display: -webkit-flex;
      -webkit-flex-direction: column;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      height: 452px;
      .item-row {
        height: 200px;
        flex: none;
      }
    }
  }
  &.gift {
    .item-list {
      white-space: nowrap;
    }
    .item-date {
      position: absolute;
      top: 30px;
      right: 26px;
      font-size: 12px;
      color: #999999;
    }
    .item-price {
      .Rajdhani {
        font-size: 30px;
      }
    }
  }
}

.item-boundary {
  position: relative;
  overflow: hidden;
}

.slide-navi {
  position: absolute;
  top: 50%;
  display: none;
  width: 36px;
  height: 100px;
  margin-top: -50px;
  background-color: #fff;
  border-radius: 4px;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 1px;
    background-color: #bbb;
  }
  &.prev {
    left: -60px;
    &::before {
      transform: rotate(-45deg);
      margin: -7px 0 0 -10px;
    }
    &::after {
      transform: rotate(45deg);
      margin: 7px 0 0 -10px;
    }
  }
  &.next {
    right: -60px;
    &::before {
      transform: rotate(45deg);
      margin: -7px 0 0 -10px;
    }
    &::after {
      transform: rotate(-45deg);
      margin: 7px 0 0 -10px;
    }
  }
  &:hover {
    background-color: #7e69fe;
    &::before,
    &::after {
      background-color: #fff;
    }
  }
}

.item-list {
  position: relative;
  width: calc(100% + 26px);
  margin-top: -13px;
  margin-left: -13px;
  font-size: 0;
}

.item-row {
  position: relative;
  display: inline-block;
  width: calc(25% - 26px);
  margin: 13px;
  padding: 22px 30px;
  font-size: 13px;
  color: #666666;
  vertical-align: top;
  border-radius: 20px;
  border: solid 1px #dddddd;
  background-color: white;
  overflow: hidden;
  &.item-row-my {
    .item-date {
      margin-top: 22px;
    }
    .item-members {
      margin-top: 15px;
    }
  }
  .item-state {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 20px;
    padding: 0 4px;
    font-size: 11px;
    font-weight: 300;
    color: white;
    text-align: center;
    line-height: 19px;
    border-radius: 5px;
    background-color: #fb4c16;
  }
  .item-tip {
    position: relative;
    height: 34px;
    .ttip:hover {
      text-decoration: none;
    }
  }
  .item-buttons {
    position: relative;
    z-index: 3;
  }
  .button {
    width: calc(50% - 2px);
    &.button-purple {
      &:hover {
        color: white;
        background-color: #7e69fe;
        border: 1px solid #7e69fe;
      }
    }
    &.button-red {
      &:hover {
        color: white;
        background-color: #fb4c16;
        border: 1px solid #fb4c16;
      }
    }
  }
  &:not(.disabled):hover {
    border: 1px solid #a89cf4;
    .item-type {
      color: #684adf;
    }
  }
  &.disabled {
    color: #aaa;
    .item-type {
      color: #aaa;
    }
    .item-member {
      &.plus {
        .Rajdhani {
          color: #aaa;
        }
      }
    }
    .item-price {
      .Rajdhani {
        color: #aaa;
      }
    }
  }
}

.item-type {
  font-size: 22px;
  color: #333333;
  white-space: nowrap;
  overflow: hidden;
}

.item-title {
  white-space: nowrap;
  overflow: hidden;
}

.item-members {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 0;
  white-space: nowrap;
}

.item-member {
  // position: relative;
  display: inline-block;
  // width: calc(16.6% - 6px);
  width: 32px;
  height: 32px;
  margin-left: 8px;
  border-radius: 8px;
  vertical-align: top;
  overflow: hidden;
  &:first-child {
    margin-left: 0;
  }
  &.plus {
    position: relative;
    max-width: 32px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ececec;
    .Rajdhani {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 14px;
      font-weight: 600;
      color: #7e69fe;
      line-height: 32px;
      vertical-align: 1px;
      background-color: white;
    }
  }
}

.item-finish {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.item-info {
  position: relative;
  .item-price {
    bottom: -6px;
    right: 0;
  }
}

.item-price {
  position: absolute;
  bottom: 12px;
  right: 26px;
  .Rajdhani {
    font-size: 20px;
    font-weight: 700;
    color: #252525;
    vertical-align: -2px;
  }
}

.item-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-thumb {
  position: relative;
  width: 62px;
  height: 62px;
  margin-top: 32px;
  border-radius: 9px;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.item-more {
  margin-top: 20px;
  a {
    display: block;
    width: 80px;
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 40px;
    background-color: #7e69fe;
    border-radius: 5px;
  }
}

/* item view */
.item-view-title {
  position: relative;
  padding: 40px 0;
  padding-left: 90px;
  border-bottom: 1px solid #efefef;
  .symbol {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    background-color: #efefef;
    border-radius: 10px;
  }
  .enabled {
    position: relative;
    top: -2px;
    height: 24px;
    margin-right: 5px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 22px;
  }
  .text {
    font-size: 18px;
    font-weight: 300;
    color: #666666;
  }
  .subject {
    font-size: 30px;
    color: #333333;
    line-height: 40px;
  }
  .up {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -25px;
  }
}

.item-view-row {
  position: relative;
  height: 60px;
  font-size: 15px;
  color: #333333;
  line-height: 58px;
  letter-spacing: 0;
  white-space: nowrap;
  border-bottom: 1px solid #efefef;
  .right {
    position: absolute;
    top: 0;
    right: 0;
  }
  .text-purple {
    color: #7e69fe;
    &:hover {
      text-decoration: underline;
    }
  }
  .lightgrey {
    font-weight: 300;
    color: #888888;
  }
  .Rajdhani {
    font-weight: 700;
  }
  .picture {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    img {
      vertical-align: top;
    }
  }
  .credit-percent {
    margin: 0 6px;
  }
  .icon-sns {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 8px;
    vertical-align: middle;
    img {
      vertical-align: top;
    }
  }
  .fw300 {
    font-weight: 300;
  }
  .price {
    margin-left: 10px;
    font-size: 24px;
    letter-spacing: -1px;
    &:hover {
      text-decoration: none;
    }
  }
}

.item-view-grade {
  font-size: 13px;
}

.item-view-idpw {
  top: -2px;
  margin-left: 20px;
  padding: 0 12px !important;
  vertical-align: middle;
}

.item-view-user {
  position: relative;
  padding: 50px 0;
  font-size: 0;
  li {
    position: relative;
    display: inline-block;
    width: 212px;
    padding: 30px 0;
    text-align: center;
  }
  .picture {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  .name {
    margin-top: 14px;
    font-size: 18px;
    color: #333333;
  }
  .date {
    font-size: 13px;
    font-weight: 300;
    color: #999;
  }
}

.item-view-caution {
  position: relative;
  padding: 40px;
  border: solid 1px #eeeeee;
  background-color: #fcfcfc;
  .tag {
    position: relative;
    margin-bottom: 20px;
    img {
      margin-right: 8px;
      margin-bottom: 8px;
    }
    span {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
      height: 36px;
      padding: 0 15px;
      font-size: 16px;
      color: #666666;
      text-align: center;
      line-height: 34px;
      border-radius: 18px;
      background-color: #f0f0f0;
    }
  }
  .text {
    font-size: 16px;
    color: #333;
    li {
      margin: 2px 0;
    }
  }
}

.item-view-check {
  position: relative;
  padding: 23px 50px;
  text-align: center;
  border: solid 1px #eeeeee;
  background-color: #fcfcfc;
  border-top: 0;
}

@media screen and (max-width: 1220px) {
  .item-row {
    width: calc(33.33% - 26px);
    margin: 13px;
  }
}
@media screen and (max-width: 960px) {
  .item-sort {
    position: relative;
    top: auto;
    right: auto;
    margin-top: -2px;
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0;
    font-size: 11px;
  }
  .item-list {
    width: calc(100% + 10px);
    margin-top: -5px;
    margin-left: -5px;
  }
  .item-row {
    width: calc(50% - 10px);
    margin: 5px;
    padding: 11px 10px;
    font-size: 10px;
    border-radius: 10px;
    .item-state {
      position: absolute;
      top: 12px;
      right: 10px;
      height: 16px;
      padding: 0 4px;
      font-size: 10px;
      font-weight: 300;
      color: white;
      text-align: center;
      line-height: 15px;
      border-radius: 5px;
      background-color: #fb4c16;
    }
  }
  .item-type {
    font-size: 12px;
  }
  .item-thumb {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
  }
  .item-price {
    bottom: 6px;
    right: 10px;
    .Rajdhani {
      font-size: 18px !important;
    }
  }
  .item-members {
    margin: 12px 0;
  }
  .item-member {
    width: calc(16.6% - 4px);
    height: auto;
    margin-left: 4px;
    &:first-child {
      margin-left: 0;
    }
    &.plus {
      font-size: 13px;
      .Rajdhani {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
      }
    }
  }
  .item-finish {
    font-size: 10px;
  }
  .item-info {
    .item-price {
      bottom: -6px;
      right: 0;
    }
  }
  .item-slide {
    &.party {
      margin-bottom: 30px;
      .item-list {
        height: 284px;
        .item-row {
          width: calc(50% - 10px);
          height: 132px;
        }
      }
    }
    &.gift {
      .item-date {
        top: 11px;
        right: 10px;
        font-size: 10px;
      }
    }
  }
  .item-view-title {
    padding: 15px 0;
    padding-left: 54px;
    .symbol {
      width: 40px;
      height: 40px;
      margin-top: -20px;
      border-radius: 10px;
    }
    .enabled {
      position: relative;
      height: 20px;
      margin-right: 5px;
      padding: 0 8px;
      font-size: 11px;
      line-height: 18px;
      vertical-align: middle;
    }
    .text {
      font-size: 12px;
    }
    .subject {
      font-size: 13px;
      line-height: 20px;
    }
    .up {
      margin-top: -17px;
    }
  }
  .item-view-row {
    height: 44px;
    font-size: 11px;
    line-height: 42px;
    .picture {
      width: 22px;
      height: 22px;
      margin-right: 6px;
    }
    .credit-percent {
      width: 60px;
    }
    .icon-sns {
      width: 16px;
      height: 16px;
      margin: 0 2px;
    }
    .price {
      font-size: 14px;
    }
  }
  .item-view-grade {
    font-size: 11px;
  }
  .item-view-idpw {
    margin-left: 10px;
  }
  .item-view-user {
    padding: 25px 0;
    li {
      width: 25%;
    }
    .picture {
      width: 50px;
      height: 50px;
    }
    .name {
      margin-top: 10px;
      font-size: 12px;
    }
    .date {
      font-size: 10px;
    }
  }
  .item-view-caution {
    padding: 10px;
    .tag {
      margin-bottom: 5px;
      img {
        width: 22px;
        height: 22px;
        margin-right: 2px;
        margin-bottom: 2px;
      }
      span {
        margin-right: 2px;
        margin-bottom: 2px;
        height: 22px;
        padding: 0 8px;
        font-size: 11px;
        line-height: 20px;
        border-radius: 10px;
      }
    }
    .text {
      font-size: 11px;
    }
  }
  .item-view-check {
    padding: 12px;
  }
}
