.dialog {
  position: relative;
  max-width: 690px;
  padding: 40px 30px;
  background-color: white;
  &.border {
    border-top: 3px solid #7e69fe;
  }
  &.center {
    text-align: center;
  }
  .button.small {
    padding: 0 20px;
  }
}

.dialog-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 54px;
  height: 54px;
  background-color: rgba(0, 0, 0, 0);
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 22px;
    height: 1px;
    margin-left: -11px;
    background-color: #333333;
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
}

.dialog-para {
  font-size: 16px;
  font-weight: 300;
  color: #666666;
}

.dialog-buttons {
  margin-top: 30px;
  text-align: center;
}

.dialog-step {
  position: relative;
  margin-bottom: 30px;
  font-size: 0;
  span {
    position: relative;
    display: inline-block;
    width: calc(33.33% + 1px);
    height: 40px;
    margin-right: -1px;
    font-size: 14px;
    color: #aaaaaa;
    text-align: center;
    line-height: 38px;
    border: solid 1px #ececec;
    background-color: #f9f9f9;
    z-index: 2;
    &.active {
      color: white;
      border: solid 1px #7e69fe;
      background-color: #7e69fe;
      &::before {
        border-left: 12px solid #7e69fe;
      }
      &::after {
        border-left: 10px solid #7e69fe;
      }
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: -1px;
      right: -12px;
      border-left: 12px solid #ececec;
      border-bottom: 20px solid transparent;
      border-top: 20px solid transparent;
    }
    &::after {
      top: 0px;
      right: -10px;
      border-left: 10px solid #f9f9f9;
      border-bottom: 19px solid transparent;
      border-top: 19px solid transparent;
    }
    &:first-child {
      z-index: 3;
    }
    &:last-child {
      z-index: 1;
      &::before,
      &::after {
        display: none;
      }
    }
  }
}

.dialog-check {
  position: relative;
  padding: 4px 0;
  input[type='checkbox'] + label {
    font-size: 16px;
    color: #333333;
  }
  p {
    margin-top: 2px;
    padding-left: 26px;
    font-size: 12px;
    font-weight: 300;
    color: #888888;
    line-height: 16px;
    word-break: keep-all;
  }
}

.dialog-caution {
  position: relative;
  margin-top: 25px;
  padding: 20px;
  font-size: 13px;
  font-weight: 300;
  color: #666666;
  background-color: #f6f6f6;
}

.dialog-form {
  li {
    position: relative;
    padding: 2px 0 2px 120px;
  }
  .subject {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 120px;
    padding: 8px 0;
    font-size: 14px;
    color: #333333;
    vertical-align: top;
  }
  .input-file {
    margin: 3px 0;
  }
}

.dialog-refund-point {
  width: 100%;
  height: 162px;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 160px;
  border: solid 1px #ececec;
  background-color: #ffffff;
}

.dialog-finish {
  position: relative;
  padding: 50px 20px;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  text-align: center;
  p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #333333;
  }
}

.dialog-pannel {
  position: relative;
  padding: 25px 15px;
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  line-height: 88px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #ececec;
  .right {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    color: #999;
  }
  .v-bar {
    margin-right: 40px;
    &::after {
      right: -20px;
    }
  }
  .Rajdhani {
    font-size: 30px;
    font-weight: 700;
    color: #333;
  }
}

.dialog-product {
  position: relative;
  padding-left: 45px;
  line-height: 18px;
  .brand {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    background-color: #efefef;
    border-radius: 5px;
  }
  .lightgrey {
    font-size: 12px;
    font-weight: 300;
    color: #888888;
  }
}

.dialog-select {
  padding: 20px 0 16px 0;
  font-size: 0;
  a {
    display: inline-block;
    width: calc(25% - 4px);
    height: 38px;
    margin: 0 2px;
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    border: solid 1px #ececec;
    background-color: #ffffff;
    &.active {
      color: #7e69fe;
      border: solid 1px #7e69fe;
    }
  }
}

.dialog-reject {
  position: relative;
  padding: 20px 0 0 0;
  border-top: 1px solid #333333;
  li {
    position: relative;
    height: 110px;
    margin-top: 10px;
    padding-left: 160px;
    border: 1px solid #ececec;
    &:first-child {
      margin-top: 0;
    }
  }
  .subject {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 159px;
    height: 108px;
    font-size: 14px;
    color: #333333;
    text-align: center;
    line-height: 110px;
    background-color: #f9f9f9;
    border-right: 1px solid #ececec;
  }
}

.dialog-cash {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 440px;
  margin-top: 25px;
  font-size: 0;
  border: 1px solid #eeeeee;
  .line {
    display: inline-block;
    width: 50%;
    height: 70px;
    font-size: 18px;
    color: #555555;
    line-height: 70px;
    vertical-align: top;
    &:last-child {
      border-left: solid 1px #eeeeee;
      background-color: #fbfbfb;
    }
  }
  .icon {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 27px;
    height: 27px;
    margin-right: 4px;
    vertical-align: middle;
    img {
      vertical-align: top;
    }
  }
  .Rajdhani {
    font-size: 28px;
    font-weight: bold;
    color: #7e69fe;
    vertical-align: middle;
  }
}

.dialog-alert {
  max-width: 540px;
  margin: 22px auto 0 auto;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  line-height: 20px;
  word-break: keep-all;
}

.dialog-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 22px;
  color: #333333;
  line-height: 32px;
}

.dialog-images {
  margin: 0 10px 21px 10px;
  padding-top: 10px;
  ul {
    font-size: 0;
  }
  li {
    position: relative;
    display: inline-block;
    width: 100px;
    margin-left: 48px;
    &:first-child {
      margin-left: 0;
    }
  }
  .picture {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .delete {
    position: absolute;
    top: 0;
    right: -30px;
    display: block;
  }
}

.dialog-upload {
  max-width: 350px;
  margin: 20px auto;
}

.dialog-lightgrey {
  font-size: 13px;
  font-weight: 300;
  color: #666666;
}

.dialog-msg {
  position: relative;
  padding: 25px 30px;
  border: solid 1px #ececec;
  border-top: 2px solid #7e69fe;
  P {
    margin: 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #252525;
  }
  li {
    padding: 3px 0;
  }
}
.dialog-quick-msg {
  .dialog-caution {
    margin-top: 5px;
    padding: 20px 30px;
    border: solid 1px #ececec;
    background-color: #f9f9f9;
    color: #aaa;
    strong {
      display: block;
      margin: 10px 0;
      color: #252525;
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 101%;
    height: 101%;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.popup-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
    background-color: lightblue;
  }
}

.popup-button {
  position: relative;
  margin-top: 30px;
  &.center {
    text-align: center;
  }
}

/* magnific popup */
.popup-magnific {
  position: relative;
  background: #fff;
  padding: 3em;
  width: auto;
  margin: 20px auto;
  max-width: 680px;
  h3 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #333;
    &.center {
      text-align: center;
    }
  }
  h4 {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #333;
    &.center {
      text-align: center;
    }
  }
}

.popup-table {
  margin-top: 30px;
  table {
    width: 100%;
  }
  th,
  td {
    height: 50px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
    border: 1px solid #dddddd;
  }
  th {
    font-size: 15px;
    font-weight: 400;
    background-color: #fbfbfb;
  }
  td {
    font-size: 14px;
    font-weight: 300;
  }
}

.popup-policy {
  position: relative;
  padding: 8px 28px 28px 28px;
  border: solid 1px #dddddd;
  ul {
    margin-left: 15px;
  }
  li {
    position: relative;
    padding: 5px 0;
    list-style: decimal;
    font-size: 14px;
    color: #555555;
    line-height: 18px;
    letter-spacing: -0.5px;
  }
  .lightgrey {
    margin-top: 4px;
    font-size: 13px;
    font-weight: 300;
    color: #999999;
  }
}

@media screen and (max-width: 960px) {
  .popup-button {
    margin-top: 15px;
  }
  .popup-magnific {
    padding: 1.5em;
    h3 {
      font-size: 14px;
      margin-bottom: 12px;
    }
    h4 {
      font-size: 12px;
      margin-bottom: 6px;
    }
  }
  .popup-table {
    th,
    td {
      height: 30px;
      padding: 0 10px;
    }
    th {
      font-size: 12px;
    }
    td {
      font-size: 11px;
    }
  }
  .popup-policy {
    padding: 4px 18px 18px 18px;
    border: solid 1px #dddddd;
    ul {
      margin-left: 10px;
    }
    li {
      padding: 3px 0;
      font-size: 11px;
      line-height: 14px;
    }
    .lightgrey {
      margin-top: 2px;
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 480px) {
  .dialog {
    padding: 20px 15px;
  }
  .dialog-title {
    margin-bottom: 15px;
    font-size: 14px;
  }
  .dialog-para {
    font-size: 12px;
  }
  .dialog-check {
    input[type='checkbox'] + label {
      margin-bottom: 8px;
      padding-left: 24px;
      font-size: 14px;
      line-height: 18px;
      &::before {
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
  }
  .dialog-form {
    li {
      padding: 2px 0 2px 90px;
    }
    .subject {
      width: 90px;
      font-size: 12px;
    }
  }
  .dialog-select {
    a {
      width: calc(50% - 4px);
      margin-bottom: 4px;
      font-size: 12px;
    }
  }
  .dialog-product {
    font-size: 12px;
    line-height: 14px;
    a {
      font-size: 12px;
    }
    .brand {
      width: 24px;
      height: 24px;
      margin-top: -12px;
    }
    .comment {
      font-size: 10px;
    }
  }
  .dialog-pannel {
    height: auto;
    padding: 15px;
    line-height: 18px;
    .right {
      position: relative;
      margin-top: 10px;
      padding-top: 15px;
      text-align: right;
      border-top: 1px solid #efefef;
    }
    .Rajdhani {
      font-size: 22px;
    }
  }
  .dialog-reject {
    li {
      height: 62px;
    }
    .subject {
      width: 100px;
      height: 60px;
      font-size: 11px;
      line-height: 60px;
    }
  }
  .dialog-cash {
    width: 80%;
    .line {
      height: 40px;
      font-size: 13px;
      line-height: 40px;
    }
    .icon {
      width: 14px;
      height: 14px;
    }
    .Rajdhani {
      font-size: 18px;
    }
  }
  .dialog-alert,
  .dialog-lightgrey {
    display: inline-block;
    font-size: 11px;
    line-height: 16px;
  }
  .dialog-upload {
    margin: 10px auto;
  }
  .dialog-images {
    li {
      width: 60px;
    }
    .picture {
      width: 60px;
      height: 60px;
    }
  }
  .dialog-caution {
    font-size: 11px;
  }
  .popup-table {
    margin-top: 15px;
  }
}
