.side {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 100;
  a {
    display: block;
    width: 208px;
    height: 55px;
    margin-top: 10px;
    &:first-child {
      margin: 0;
    }
  }
}

.at-go {
  display: none !important;
  z-index: 100;
}

@media screen and (max-width: 960px) {
  .side {
    display: none;
  }
  .at-go {
    display: block !important;
  }
}
