@charset "UTF-8";
/* tabe list */
.table-list {
  position: relative;
}

.table-list.scroll {
  width: 100%;
  overflow: hidden;
  overflow-x: auto;
}

.table-list.scroll::-webkit-scrollbar {
  display: none;
}

.table-list table {
  width: 100%;
}

.table-list th,
.table-list td {
  position: relative;
  text-align: center;
}

.table-list th {
  padding: 19px 0;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  background-color: #f9f9f9;
}

.table-list th::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 1px;
  height: 10px;
  margin-top: -5px;
  background-color: #ddd;
}

.table-list th:last-child::after {
  display: none;
}

.table-list td {
  font-size: 14px;
  font-weight: 300;
  color: #333;
  line-height: 16px;
  border-top: 1px solid #ececec;
}

.table-list tr.active td {
  background-color: #faf9ff;
}

.table-list strong {
  font-weight: 500;
  color: #333;
}

.table-list .button {
  padding: 0 10px;
}

.table-list .subject {
  position: relative;
  display: block;
  margin: 0 10px;
  padding: 20px 0 19px 0;
  text-align: left;
}

.table-list .subject a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.table-list .notice {
  padding-left: 44px;
}

.table-list .notice::before {
  content: '알림';
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-top: -10px;
  font-size: 11px;
  color: #7e69fe;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #7e69fe;
  border-radius: 4px;
}

.table-list .Rajdhani {
  margin-right: 2px;
  font-size: 28px;
  font-weight: 700;
  color: #333;
  vertical-align: -2px;
  letter-spacing: -1px;
}

.table-list-payment {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #ececec;
}

.table-list-payment .service {
  margin-left: 30px;
}

/* table view */
.table-row {
  position: relative;
  height: 60px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 300;
  color: #252525;
  line-height: 60px;
  border-bottom: 1px solid #ececec;
  background-color: #f9f9f9;
}

.table-row .v-bar {
  margin-right: 40px;
}

.table-row .v-bar::after {
  right: -20px;
}

.table-row .picture {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #efefef;
  border-radius: 5px;
  overflow: hidden;
}

.table-row .picture img {
  vertical-align: top;
}

.table-row .subject {
  font-size: 17px;
  font-weight: 500;
  color: #333333;
}

.table-row .category {
  display: inline-block;
  width: 86px;
  font-weight: 500;
}

.table-row .input-subject {
  width: calc(100% - 90px);
  margin-top: -5px;
}

.table-row .input-check {
  margin-right: 30px;
}

.table-row .right {
  position: absolute;
  top: 0;
  right: 30px;
}

.table-view-article {
  position: relative;
  min-height: 500px;
  padding: 30px;
  font-size: 17px;
  font-weight: 300;
  color: #333333;
}

.table-view-article img {
  max-width: 100%;
}

/* table write */
.table-write-editor {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #333333;
}

/* event page */
.pevent-tab {
  position: relative;
  margin-left: -20px;
}

.pevent-tab a {
  display: inline-block;
  padding: 8px 20px;
  font-size: 22px;
  font-weight: 300;
  color: #aaaaaa;
}

.pevent-tab a.active {
  color: #7e69fe;
}

.pevent-banner {
  position: relative;
  margin-bottom: 28px;
}

.pevent-list li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  font-size: 0;
  border-bottom: 1px solid #ececec;
}

.pevent-list li.finish .thumb::before, .pevent-list li.finish .thumb::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.pevent-list li.finish .thumb::before {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.pevent-list li.finish .thumb::after {
  content: '이벤트 종료';
  top: 50%;
  left: 50%;
  width: 106px;
  height: 34px;
  margin: -17px 0 0 -53px;
  font-size: 16px;
  color: #333333;
  text-align: center;
  line-height: 32px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 17px;
}

.pevent-list li.finish .state {
  color: #aaa;
  border: solid 1px #aaa;
}

.pevent-list .thumb {
  position: relative;
  display: block;
  max-width: 440px;
  margin-right: 38px;
}

.pevent-list .info {
  display: block;
  margin-right: 20px;
}

.pevent-list .subject {
  position: relative;
  display: block;
  margin-top: -10px;
  margin-bottom: 8px;
  font-size: 22px;
  color: #333333;
  white-space: nowrap;
}

.pevent-list .subject:hover {
  color: #7e69fe;
}

.pevent-list .state {
  height: 32px;
  margin-right: 10px;
  padding: 3px 17px;
  font-size: 16px;
  font-weight: 300;
  color: #00afc0;
  border: solid 1px #00afc0;
  border-radius: 16px;
}

.pevent-list .date {
  font-size: 16px;
  font-weight: 300;
  color: #888888;
}

.pevent-list .button {
  display: block;
  margin-left: auto;
}

@media screen and (max-width: 960px) {
  .table-list th {
    padding: 10px 0;
    font-size: 11px;
  }
  .table-list td {
    font-size: 11px;
    line-height: 12px;
  }
  .table-list .subject {
    padding: 13px 0 12px 0;
  }
  .table-list .subject a {
    font-size: 12px;
  }
  .table-list .notice {
    padding-left: 35px;
  }
  .table-list .notice::before {
    width: 27px;
    height: 18px;
    margin-right: 5px;
    font-size: 10px;
    line-height: 16px;
  }
  .table-list .Rajdhani {
    font-size: 18px;
    vertical-align: -1px;
  }
  .table-list-payment {
    border-top: 1px solid #ececec;
  }
  .table-list-payment td {
    height: 40px;
  }
  .table-row {
    height: 44px;
    padding: 0 15px;
    font-size: 11px;
    line-height: 42px;
  }
  .table-row .v-bar {
    margin-right: 20px;
  }
  .table-row .v-bar::after {
    right: -10px;
  }
  .table-row .picture {
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }
  .table-row .subject {
    font-size: 13px;
  }
  .table-row .right {
    right: 15px;
  }
  .table-row .category {
    width: 56px;
  }
  .table-row .input-subject {
    width: calc(100% - 58px);
  }
  .table-row .input-check {
    margin-right: 30px;
  }
  .table-view-article {
    min-height: 300px;
    padding: 15px;
    font-size: 12px;
  }
  .table-write-editor {
    min-height: 340px;
  }
  .pevent-tab {
    position: relative;
    margin-left: -10px;
  }
  .pevent-tab a {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
  }
  .pevent-banner {
    margin-bottom: 18px;
  }
  .pevent-list li {
    display: block;
    padding: 0 0 22px 0;
  }
  .pevent-list li.finish .thumb::after {
    content: '이벤트 종료';
    width: 80px;
    height: 22px;
    margin: -11px 0 0 -40px;
    font-size: 11px;
    line-height: 22px;
    border-radius: 11px;
  }
  .pevent-list .thumb {
    max-width: 100%;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  .pevent-list .info {
    margin-right: 0;
    margin-bottom: 18px;
  }
  .pevent-list .subject {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 12px;
  }
  .pevent-list .state {
    margin-right: 10px;
    padding: 2px 10px;
    font-size: 11px;
    color: #00afc0;
    border-radius: 11px;
  }
  .pevent-list .date {
    font-size: 11px;
  }
}
/*# sourceMappingURL=table.css.map */