/* tabe list */
.table-list {
  position: relative;
  &.scroll {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  table {
    width: 100%;
  }
  th,
  td {
    position: relative;
    text-align: center;
  }
  th {
    padding: 19px 0;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
    background-color: #f9f9f9;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 1px;
      height: 10px;
      margin-top: -5px;
      background-color: #ddd;
    }
    &:last-child::after {
      display: none;
    }
  }
  td {
    font-size: 14px;
    font-weight: 300;
    color: #333;
    line-height: 16px;
    border-top: 1px solid #ececec;
  }
  tr.active {
    td {
      background-color: #faf9ff;
    }
  }
  strong {
    font-weight: 400;
    color: #333;
  }
  .button {
    padding: 0 10px;
  }
  .subject {
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 20px 0 19px 0;
    text-align: left;
    a {
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      color: #333333;
    }
  }
  .subject2 {
    position: relative;
    padding: 22px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    text-align: left;
  }
  .notice {
    padding-left: 44px;
    &::before {
      content: '알림';
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      width: 35px;
      height: 20px;
      margin-top: -10px;
      font-size: 11px;
      color: #7e69fe;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #7e69fe;
      border-radius: 4px;
    }
  }
  .Rajdhani {
    margin-right: 2px;
    font-size: 28px;
    font-weight: 700;
    color: #333;
    vertical-align: -2px;
    letter-spacing: -1px;
  }
  .date {
    font-size: 12px;
    font-weight: 300;
    color: #888888;
    line-height: 14px;
  }
}

.table-list-payment {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #ececec;
  .service {
    margin-left: 30px;
  }
}

/* table view */
.table-row {
  position: relative;
  height: 60px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 300;
  color: #252525;
  line-height: 60px;
  border-bottom: 1px solid #ececec;
  background-color: #f9f9f9;
  .v-bar {
    margin-right: 40px;
    &::after {
      right: -20px;
    }
  }
  .picture {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #efefef;
    border-radius: 5px;
    overflow: hidden;
    img {
      vertical-align: top;
    }
  }
  .subject {
    font-size: 17px;
    font-weight: 500;
    color: #333333;
  }
  .category {
    display: inline-block;
    width: 86px;
    font-weight: 500;
  }
  .input-subject {
    width: calc(100% - 90px);
    margin-top: -5px;
  }
  .input-date {
    max-width: 160px;
  }
  .input-check {
    margin-right: 30px;
  }
  .right {
    position: absolute;
    top: 0;
    right: 30px;
  }
}

.table-view-article {
  position: relative;
  min-height: 500px;
  padding: 30px;
  font-size: 17px;
  font-weight: 300;
  color: #333333;
  img {
    max-width: 100%;
  }
}

/* table write */
.table-write-editor {
  position: relative;
  padding-bottom: 20px;
  border-bottom: 1px solid #333333;
}

/* event page */
.pevent-tab {
  position: relative;
  margin-left: -20px;
  a {
    display: inline-block;
    padding: 8px 20px;
    font-size: 22px;
    font-weight: 300;
    color: #aaaaaa;
    &.active {
      color: #7e69fe;
    }
  }
}

.pevent-banner {
  position: relative;
  margin-bottom: 28px;
}

.pevent-list {
  li {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-size: 0;
    border-bottom: 1px solid #ececec;
    &.finish {
      .thumb {
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
        }
        &::before {
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.3);
        }
        &::after {
          content: '이벤트 종료';
          top: 50%;
          left: 50%;
          width: 106px;
          height: 34px;
          margin: -17px 0 0 -53px;
          font-size: 16px;
          color: #333333;
          text-align: center;
          line-height: 32px;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 17px;
        }
      }
      .state {
        color: #aaa;
        border: solid 1px #aaa;
      }
    }
  }
  .thumb {
    position: relative;
    flex: none;
    display: block;
    max-width: 440px;
    margin-right: 38px;
  }
  .info {
    display: block;
    margin-right: 20px;
  }
  .subject {
    position: relative;
    display: block;
    margin-bottom: 16px;
    font-size: 22px;
    color: #333333;
    line-height: 24px;
    &:hover {
      color: #7e69fe;
    }
  }
  .state {
    height: 32px;
    margin-right: 10px;
    padding: 3px 17px;
    font-size: 16px;
    font-weight: 300;
    color: #00afc0;
    border: solid 1px #00afc0;
    border-radius: 16px;
  }
  .date {
    font-size: 16px;
    font-weight: 300;
    color: #888888;
  }
  .button {
    display: block;
    margin-left: auto;
  }
}

@media screen and (max-width: 960px) {
  .table-list {
    th {
      padding: 10px 0;
      font-size: 11px;
    }
    td {
      font-size: 11px;
      line-height: 12px;
    }
    .subject {
      padding: 13px 0 12px 0;
      line-height: 16px;
      a {
        font-size: 12px;
      }
    }
    .subject2 {
      padding: 15px 10px;
      font-size: 12px;
      line-height: 16px;
    }
    .notice {
      padding-left: 35px;
      &::before {
        width: 27px;
        height: 18px;
        margin-right: 5px;
        font-size: 10px;
        line-height: 16px;
      }
    }
    .Rajdhani {
      font-size: 18px;
      vertical-align: -1px;
    }
    .date {
      font-size: 10px;
    }
  }
  .table-list-payment {
    border-top: 1px solid #ececec;
    td {
      height: 40px;
    }
  }
  .table-row {
    height: 44px;
    padding: 0 15px;
    font-size: 11px;
    line-height: 42px;
    .v-bar {
      margin-right: 20px;
      &::after {
        right: -10px;
      }
    }
    .picture {
      width: 22px;
      height: 22px;
      margin-right: 6px;
    }
    .subject {
      font-size: 13px;
    }
    .right {
      right: 15px;
    }
    .category {
      width: 56px;
    }
    input[type='text'] {
      width: calc(100% - 60px);
    }
    .input-date {
      width: 40% !important;
    }
    .input-check {
      margin-right: 30px;
    }
  }
  .table-view-article {
    min-height: 300px;
    padding: 15px;
    font-size: 12px;
  }
  .table-write-editor {
    min-height: 340px;
  }
  .pevent-tab {
    position: relative;
    margin-left: -10px;
    a {
      display: inline-block;
      padding: 5px 10px;
      font-size: 12px;
    }
  }
  .pevent-banner {
    margin-bottom: 18px;
  }
  .pevent-list {
    li {
      display: block;
      padding: 0 0 22px 0;
      &.finish {
        .thumb {
          &::after {
            content: '이벤트 종료';
            width: 80px;
            height: 22px;
            margin: -11px 0 0 -40px;
            font-size: 11px;
            line-height: 22px;
            border-radius: 11px;
          }
        }
      }
    }
    .thumb {
      max-width: 100%;
      width: 100%;
      margin-top: 10px;
      text-align: center;
    }
    .info {
      margin-right: 0;
      margin-bottom: 18px;
    }
    .subject {
      margin-top: 0px;
      margin-bottom: 8px;
      font-size: 12px;
    }
    .state {
      margin-right: 10px;
      padding: 2px 10px;
      font-size: 11px;
      color: #00afc0;
      border-radius: 11px;
    }
    .date {
      font-size: 11px;
    }
  }
}
