.topper {
  width: 100%;
  height: 35px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #f0eff7;
}

.topper-menu {
  position: relative;
  text-align: right;
  line-height: 34px;
  a {
    display: inline-block;
    padding: 0 20px;
    font-size: 12px;
    color: #888888;
    &:last-child {
      margin-right: -20px;
    }
  }
}

@media screen and (max-width: 960px) {
  .topper {
    display: none;
  }
}
