/* payment */
.payment-name {
  margin: 0;
  border-top: 1px solid #333;
}

/* inquiry */
.inquiry {
  .guide {
    padding: 12px 0;
    font-size: 14px;
  }
  .table-list {
    border-top: 1px solid #333;
  }
  .list-circle {
    list-style: circle;
    margin-top: -10px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
  }
  .agree {
    margin-top: 40px;
    text-align: center;
  }
}

/* FAQ */
.faq-tab {
  position: relative;
  margin: 30px 0;
  text-align: center;
  a {
    display: inline-block;
    padding: 8px 20px;
    font-size: 22px;
    color: #aaaaaa;
    &.active {
      color: #7e69fe;
    }
  }
}

/* my point */
.mypoint {
  position: relative;
  padding: 20px 30px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ececec;
  .picture {
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 15px;
    overflow: hidden;
    background-color: #efefef;
  }
  .name {
    margin-left: 15px;
    font-size: 18px;
    color: #333333;
    vertical-align: middle;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 27px 30px;
  }
  .icon {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-right: 3px;
    vertical-align: middle;
  }
  .text {
    position: relative;
    top: -2px;
    font-size: 18px;
    color: #555555;
    vertical-align: middle;
  }
  .price {
    display: inline-block;
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #7e69fe;
    vertical-align: middle;
  }
  .button {
    margin-left: 20px;
    padding: 0 20px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 960px) {
  .inquiry {
    .guide {
      padding: 4px 0;
      font-size: 11px;
    }
    .list-circle {
      margin-top: -6px;
      margin-left: 18px;
      font-size: 11px;
    }
    .agree {
      margin-top: 20px;
    }
  }
  .faq-tab {
    margin: 15px 0;
    a {
      padding: 5px 10px;
      font-size: 12px;
    }
  }
  .mypoint {
    padding: 10px 15px;
    .picture {
      width: 25px;
      height: 25px;
      border-radius: 5px;
    }
    .name {
      margin-left: 6px;
      font-size: 12px;
    }
    .right {
      position: absolute;
      top: 0;
      right: 0;
      padding: 12px 15px;
    }
    .icon {
      top: -2px;
      width: 18px;
      height: 18px;
    }
    .text {
      font-size: 12px;
    }
    .price {
      margin-left: 6px;
      font-size: 16px;
    }
    .button {
      margin-left: 6px;
    }
  }
}
