/* payment */
.payment-name {
  margin: 0;
  border-top: 1px solid #333;
}

/* inquiry */
.inquiry {
  .guide {
    padding: 12px 0;
    font-size: 14px;
  }
  .table-list {
    border-top: 1px solid #333;
  }
  .list-circle {
    list-style: circle;
    margin-top: -10px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 300;
    color: #666666;
  }
  .agree {
    margin-top: 40px;
    text-align: center;
  }
}

/* FAQ */
.faq-tab {
  position: relative;
  margin: 30px 0;
  text-align: center;
  a {
    display: inline-block;
    padding: 8px 20px;
    font-size: 22px;
    font-weight: 300;
    color: #aaaaaa;
    &.active {
      color: #7e69fe;
    }
  }
}

@media screen and (max-width: 960px) {
  .inquiry {
    .guide {
      padding: 4px 0;
      font-size: 11px;
    }
    .list-circle {
      margin-top: -6px;
      margin-left: 18px;
      font-size: 11px;
    }
    .agree {
      margin-top: 20px;
    }
  }
  .faq-tab {
    margin: 15px 0;
    a {
      padding: 5px 10px;
      font-size: 12px;
    }
  }
}
