/* post */
.post-wrap {
  position: relative;
  height: 50px;
  margin-top: 30px;
}

.post-buttons-left {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

.post-buttons-right {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

.post-row {
  position: relative;
  height: 60px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 300;
  color: #252525;
  line-height: 60px;
  border-bottom: 1px solid #ececec;
  background-color: #f9f9f9;
}

.post-row .v-bar {
  margin-right: 40px;
}

.post-row .v-bar::after {
  right: -20px;
}

.post-row .icon-picture {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  vertical-align: middle;
  background-color: #efefef;
  border-radius: 5px;
}

.post-row .subject {
  font-size: 17px;
  font-weight: 500;
  color: #333333;
}

.post-row .text-head {
  display: inline-block;
  width: 86px;
  font-weight: 500;
}

.post-row .text-input {
  width: calc(100% - 90px);
}

.post-row .post-checkbox {
  margin-right: 30px;
}

.post-list-table {
  border-bottom: 1px solid #333333;
}

.post-list-table table {
  width: 100%;
}

.post-list-table th,
.post-list-table td {
  position: relative;
  text-align: center;
}

.post-list-table th {
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  background-color: #f9f9f9;
}

.post-list-table th::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 1px;
  height: 10px;
  margin-top: -5px;
  background-color: #ddd;
}

.post-list-table th:first-child::before {
  display: none;
}

.post-list-table td {
  font-size: 13px;
  font-weight: 300;
  color: #666666;
  line-height: 16px;
  border-top: 1px solid #ececec;
}

.post-list-table tr.active td {
  background-color: #faf9ff;
}

.post-list-table .fs14 {
  font-size: 14px;
  font-weight: 500;
}

.post-list-table .lightgrey {
  color: #aaaaaa;
}

.post-list-table .darkgrey {
  color: #333333;
}

.post-list-table .button {
  margin: 1px;
  padding: 0 10px;
}

.post-list-table .date {
  font-size: 12px;
  color: #888888;
}

.post-list-alert {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 35px;
  height: 20px;
  margin-right: 8px;
  font-size: 11px;
  color: #7e69fe;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #7e69fe;
  border-radius: 4px;
}

.post-list-subject {
  position: relative;
  display: block;
  padding: 20px 0 19px 0;
  text-align: left;
}

.post-list-subject a {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.post-list-service {
  position: relative;
  display: block;
  padding: 28px 0 27px 45px;
  text-align: left;
}

.post-list-service a {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.post-list-service .lightgrey {
  font-size: 12px;
  color: #888888;
}

.post-list-service .brand {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  background-color: #efefef;
  border-radius: 5px;
}

.post-list-number {
  position: relative;
  padding: 6px 0;
  text-align: center;
}

.post-list-number a {
  display: inline-block;
  width: 20px;
  height: 38px;
  font-size: 16px;
  font-weight: 300;
  color: #aaaaaa;
  text-align: center;
  line-height: 36px;
}

.post-list-number a:hover {
  text-decoration: underline;
}

.post-list-number a.active {
  width: 38px;
  height: 38px;
  margin: 0 6px;
  color: white;
  text-decoration: none;
  background-color: #7e69fe;
  border-radius: 50%;
  cursor: default;
}

.post-view-right {
  position: absolute;
  top: 0;
  right: 30px;
}

.post-view-article {
  position: relative;
  min-height: 500px;
  padding: 30px;
  font-size: 17px;
  font-weight: 300;
  color: #333333;
  border-bottom: 1px solid #333333;
}

.post-view-article img {
  max-width: 100%;
}

.post-write-editor {
  position: relative;
  height: 575px;
  border-bottom: 1px solid #333333;
}
/*# sourceMappingURL=post.css.map */