.form-width {
  position: relative;
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.form-width.w420 {
  width: 420px;
  padding: 140px 0 0 0;
}

.form-round {
  position: relative;
  width: 100%;
  min-height: 100px;
  border-radius: 20px;
  border: solid 1px #cec8f1;
  overflow: hidden;
}

.form-checkbox {
  margin-top: 10px;
}

#captcha {
  #captcha_img {
    height: 62px;
  }
  #captcha_key {
    width: 166px;
    height: 62px;
  }
}

/* login */
.form-logo {
  position: relative;
  margin-bottom: 42px;
  text-align: center;
}

.form-input {
  position: relative;
  margin: 8px 0;
  input {
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
  }
}

.form-option {
  position: relative;
}

.form-right {
  position: absolute;
  top: 0;
  right: 0;
  .v-bar {
    margin-right: 20px;
    &::after {
      right: -12px;
    }
  }
  a {
    font-size: 14px;
  }
}

a.form-login-button {
  display: block;
  width: 100%;
  height: 60px;
  margin: 25px 0 20px 0;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  line-height: 60px;
  border-radius: 10px;
  background-color: #7e69fe;
}

.form-text {
  position: relative;
  font-size: 14px;
  color: #666666;
}

.form-sns {
  position: relative;
  margin-top: 40px;
  padding: 40px 0;
  text-align: center;
  border-top: 1px solid #dddddd;
  &::before {
    content: 'SNS LOGIN';
    position: absolute;
    top: -11px;
    left: 50%;
    display: block;
    width: 80px;
    margin-left: -40px;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    background-color: white;
  }
  a {
    display: inline-block;
    margin: 0 4px;
  }
}

/* register */
.register.form-round {
  height: 260px;
  background-color: #f9f9f9;
}

.form-scroll {
  position: relative;
  padding: 30px 40px;
  max-height: 260px;
  font-size: 13px;
  color: #989797;
  line-height: 18px;
  overflow: hidden;
  overflow-y: auto;
  .article-title {
    margin-bottom: 12px;
    font-size: 14px;
    color: #333333;
  }
}

.form-register-checkbox {
  margin-top: 20px;
}

/* signup */
.form-round.signup {
  padding: 30px;
}

.form-list {
  input {
    max-width: 180px;
    margin-right: 10px;
    border: 1px solid #ececec;
  }
  select {
    width: 180px;
    height: 38px;
    font-size: 14px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    border: solid 1px #dddddd;
    background-color: white;
    outline: none;
    &:focus {
      border: solid 1px #7e69fe;
    }
  }
  li {
    position: relative;
    min-height: 42px;
    padding: 2px 0;
    padding-left: 120px;
    font-size: 12px;
    font-weight: 300;
    color: #888888;
  }
  .input-check {
    margin-top: 7px;
  }
}

.form-subject {
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 120px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.form-tip {
  margin: 4px 0 10px 0;
  letter-spacing: 0;
}

.form-at {
  margin: 0 4px 0 -6px;
  font-size: 14px;
  color: #333333;
}

.form-width.password {
  padding: 50px 30px;
  text-align: center;
}

/* item order */
.form-order-table {
  table {
    width: 100%;
    border-top: 1px solid #333333;
  }
  th,
  td {
    position: relative;
    height: 50px;
    font-size: 14px;
    color: #333333;
    text-align: center;
  }
  th {
    font-weight: 500;
    background-color: #f9f9f9;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 1px;
      height: 10px;
      margin-top: -5px;
      background-color: #ddd;
    }
    &:first-child::before {
      display: none;
    }
  }
  td {
    height: 90px;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
  .won {
    font-size: 16px;
    font-weight: 300;
    color: #999;
  }
  .Rajdhani {
    margin-right: 2px;
    font-size: 30px;
    font-weight: 700;
    vertical-align: -2px;
  }
  .name {
    padding-left: 40px;
    font-size: 16px;
    text-align: left;
    color: #333333;
  }
}

.form-order-wrap.half {
  display: inline-block;
  width: calc(50% - 25px);
  vertical-align: top;
}

.form-order-list {
  border-top: 1px solid #333333;
  li {
    position: relative;
    padding: 14px 0 13px 0;
    font-size: 14px;
    color: #333333;
    border-bottom: 1px solid #ececec;
    &.purple {
      position: relative;
      top: -1px;
      padding: 13px 15px;
      border: 1px solid #7e69fe;
      background-color: #f9f9f9;
      .subject {
        font-size: 14px;
        font-weight: 500;
        color: #7e69fe;
      }
      .right {
        right: 15px;
        padding: 0;
      }
      .Rajdhani {
        font-size: 30px;
        font-weight: 700;
        color: #7e69fe;
        vertical-align: -2px;
      }
    }
  }
  .lightgrey {
    font-size: 13px;
    font-weight: 300;
    color: #888888;
  }
  .won {
    font-size: 16px;
    font-weight: 300;
    color: #999;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px 0 13px 0;
  }
  input {
    position: relative;
    height: 32px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  .email {
    top: -5px;
    width: 344px;
  }
  .comment {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 50px;
  }
  .point {
    width: 100px;
    margin: 0 2px 0 12px;
    vertical-align: 0px;
  }
  .all {
    position: relative;
    top: -2px;
    width: 80px;
  }
  select {
    position: relative;
    top: -5px;
    width: 350px;
    height: 32px;
    font-size: 14px;
    padding: 0 15px;
    font-size: 13px;
    font-weight: 300;
    color: #888;
    border: solid 1px #ececec;
    border-radius: 5px;
    background-color: #f9f9f9;
    outline: none;
    &:focus {
      border: solid 1px #7e69fe;
    }
  }
  .input-check {
    top: -3px;
    margin-left: 20px;
  }
}

.form-order-caution {
  position: relative;
  padding: 30px;
  margin-top: 40px;
  font-size: 13px;
  font-weight: 300;
  color: #888888;
  word-break: keep-all;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #f9f9f9;
  strong {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    color: #333333;
  }
  p {
    margin-top: 8px;
  }
}

.form-order-checkbox {
  margin-top: 20px;
}

.form-order-account {
  position: relative;
  padding: 13px 0;
  text-align: right;
  select {
    top: 0;
    width: 332px;
  }
  input {
    width: 120px;
  }
  p {
    margin-top: 15px;
    font-size: 12px;
    font-weight: 300;
    color: #888888;
    line-height: 16px;
  }
}

/* point */
.form-point-tab {
  position: relative;
  font-size: 0;
  a {
    position: relative;
    display: inline-block;
    width: calc(33.33%);
    height: 120px;
    margin-right: -1px;
    padding: 24px 0;
    font-size: 22px;
    font-weight: 500;
    color: #333333;
    text-align: center;
    vertical-align: top;
    border: solid 1px #e3e1ee;
    border-top: 1px solid #7e69fe;
    background-color: white;
    &.on {
      color: white;
      border: solid 1px #7e69fe;
      background-color: #7e69fe;
      z-index: 1;
      .lightgrey {
        color: white;
      }
    }
  }
  .lightgrey {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #888888;
  }
}

.form-point-width {
  width: 800px;
  margin: 0 auto;
}

.form-point-title {
  position: relative;
  margin-top: 75px;
  font-size: 28px;
  color: #333333;
  text-align: center;
  img {
    position: relative;
    top: -2px;
    margin-right: 5px;
  }
}

.form-point-p {
  position: relative;
  padding: 16px 0;
  font-size: 16px;
  color: #888888;
  text-align: center;
}

.form-point-price {
  margin: 40px 0;
  li {
    position: relative;
    display: block;
  }
  .right {
    position: absolute;
    top: 0;
    right: 40px;
  }
  .Rajdhani {
    margin-right: 4px;
    font-size: 22px;
    font-weight: 700;
    color: #333333;
    vertical-align: -1px;
  }
  .input-check {
    top: -2px;
    width: 100%;
  }
  input[type='radio'] + label {
    width: 100%;
    height: 80px;
    margin-top: 4px;
    padding: 0 40px 0 80px;
    font-size: 14px;
    color: #666666;
    line-height: 78px;
    border-radius: 20px;
    border: solid 1px #e3e1ee;
    background-color: #ffffff;
    &:hover {
      border: solid 1px #cec8f1;
      background-color: #f9f8ff;
    }
    &:before {
      left: 40px;
    }
  }
  input[type='radio']:checked + label {
    border: solid 1px #cec8f1;
    background-color: #f9f8ff;
    &:after {
      left: 45px;
    }
  }
}

.form-faq-list {
  position: relative;
  margin-top: 10px;
  li {
    position: relative;
    margin-top: 5px;
    padding: 0 40px;
    border-radius: 20px;
    border: solid 1px #e3e1ee;
    background-color: #ffffff;
    overflow: hidden;
    &.active {
      border: solid 1px #cec8f1;
      background-color: #f9f8ff;
      .icon-plus::after {
        display: none;
      }
    }
    &:hover {
      border: solid 1px #cec8f1;
      background-color: #f9f8ff;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  .select {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 4px;
    font-size: 20px;
    color: #333;
    line-height: 78px;
  }
  .icon-plus {
    position: absolute;
    top: 50%;
    right: 0;
    width: 38px;
    height: 38px;
    margin-top: -19px;
    background-color: #7e69fe;
    border-radius: 5px;
    &::before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: white;
    }
    &:before {
      width: 14px;
      height: 2px;
      margin-left: -7px;
      margin-top: -1px;
    }
    &:after {
      width: 2px;
      height: 14px;
      margin-left: -1px;
      margin-top: -7px;
    }
  }
  .article {
    margin-bottom: 40px;
  }
}
