@import './assets/css/fonts.scss';
@import './assets/css/popup.scss';

body {
  padding: 0;
  font-size: 13px;
  font-family: 'Noto Sans KR', 'NanumGothic', '나눔고딕', ng, 'Malgun Gothic', Gulim, Dotum, Sans-Serif !important;
  font-weight: 400;
  line-height: 1.6;
  color: #666;
  background-color: white;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility;
  background-attachment: fixed;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:link,
a:visited {
  color: #666666;
  text-decoration: none;
}

a:hover {
  color: #7e69fe;
}

img,
embed,
object,
video {
  max-width: 100%;
}

select {
  height: 38px;
  padding: 0 10px;
  font-size: 14px;
  color: #333;
  border: solid 1px #dddddd;
  background-color: white;
  &:focus {
    border: solid 1px #7e69fe;
  }
}

textarea {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  resize: none;
  border: solid 1px #dddddd;
  background-color: white;
  outline: none;
  &:focus {
    border: solid 1px #7e69fe;
  }
  &::placeholder {
    color: #aaa;
  }
}

input[type='submit'] {
  &:focus {
    outline: none;
  }
}

input[type='text'] {
  width: 100%;
  height: 38px;
  font-size: 14px;
  padding: 0 15px;
  font-size: 14px;
  color: #333;
  border: solid 1px #dddddd;
  background-color: white;
  outline: none;
  &:focus {
    border: solid 1px #a89cf4;
  }
  &::placeholder {
    color: #aaa;
  }
  &:disabled {
    background-color: #ececec;
  }
}

.input-check {
  position: relative;
  display: inline-block;
  input[type='checkbox'] {
    /* 실제 체크박스는 화면에서 숨김 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  input[type='checkbox'] + label {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  input[type='checkbox'] + label:before {
    content: '';
    display: inline-block;
    width: 18px; /* 체크박스의 너비를 지정 */
    height: 18px; /* 체크박스의 높이를 지정 */
    line-height: 18px; /* 세로정렬을 위해 높이값과 일치 */
    margin: -3px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #ececec;
    border: 1px solid #ececec;
    border-radius: 3px;
  }
  input[type='checkbox'] + label:active:before,
  input[type='checkbox']:checked + label:active:before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type='checkbox']:checked + label:before {
    /* 체크박스를 체크했을때 */
    content: '\2714'; /* 체크표시 유니코드 사용 */
    font-size: 12px;
    font-weight: 600;
    color: #7e69fe;
    line-height: 16px;
    border-color: #7e69fe;
  }
  input[type='radio'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  input[type='radio'] + label {
    display: inline-block;
    position: relative;
    margin-bottom: 0;
    padding-left: 28px;
    font-weight: 400;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  input[type='radio'] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    text-align: center;
    background: #fafafa;
    border: 1px solid #cacece;
    border-radius: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  }
  input[type='radio'] + label:active:before,
  input[type='radio']:checked + label:active:before {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type='radio']:checked + label:before {
    background: #e9ecee;
    border-color: #adb8c0;
  }
  input[type='radio']:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    background: #99a1a7;
    border-radius: 100%;
    background-color: #7e69fe;
  }
}

.input-file {
  position: relative;
  display: inline-block;
  height: 32px;
  label {
    display: inline-block;
    margin: 0;
    cursor: pointer;
    z-index: 1;
  }
  input[type='file'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .file-name {
    width: calc(100% - 150px);
    height: 32px;
    max-width: 100%;
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    color: #999;
    vertical-align: middle;
    border: 0;
    background-color: transparent;
  }
}

.user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
}

.Rajdhani {
  font-family: 'Rajdhani';
}

.text-purple {
  color: #7e69fe !important;
}

.text-red {
  color: #fb4c16;
}

.pc-block {
  display: block !important;
}

.pc-inline {
  display: inline-block !important;
}

.mobile-block {
  display: none !important;
}

.mobile-inline {
  display: none !important;
}

.wrap {
  position: relative;
  overflow: hidden;
}

.body {
  min-height: 600px;
  padding: 100px 0;
}

.width-container {
  position: relative;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.mw-800 {
  max-width: 800px;
  margin: 0 auto;
}

.mw-400 {
  max-width: 400px;
  margin: 0 auto;
}

.button {
  position: relative;
  display: inline-block;
  min-width: 240px;
  height: 70px;
  margin: 1px 0;
  padding: 0 10px;
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 68px;
  border: 0;
  border-radius: 5px;
  background-color: #cecdd4;
  overflow: hidden;
  &:link,
  &:visited {
    color: white;
    text-decoration: none;
  }
  &.round {
    min-width: auto;
    padding: 0 16px;
    height: 32px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 17px;
  }
  &.mini {
    min-width: 50px;
    height: 32px;
    font-size: 15px;
    line-height: 30px;
  }
  &.small {
    min-width: 100px;
    height: 50px;
    font-size: 16px;
    line-height: 48px;
  }
  &.large {
    min-width: 340px;
    height: 80px;
    font-size: 20px;
    line-height: 78px;
  }
  &.border {
    color: #666666;
    border: solid 1px #dddddd;
    background-color: #f4f4f4;
    &.button-purple {
      color: #7e69fe;
      border: solid 1px #a89cf4;
      background-color: #ffffff;
    }
    &.button-red {
      color: #fb4c16;
      border: solid 1px #fb4c16;
      background-color: #ffffff;
    }
  }
  &.button-purple {
    background-color: #7e69fe;
  }
  &.button-red {
    background-color: #fb4c16;
  }
  &.button-yellow {
    background-color: #ffc000;
  }
  &.button-green {
    background-color: #4bb640;
  }
  &.button-blue {
    background-color: #1697fb;
  }
  &.button-white {
    background-color: #ffffff;
  }
}

.button-align {
  position: relative;
  min-height: 53px;
  margin-top: 30px;
  .button {
    vertical-align: top;
  }
  &.center {
    text-align: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.border {
    margin-top: 0;
    padding-top: 30px;
    border-top: 1px solid #333333;
    &.number {
      .page-number {
        margin-top: 36px;
      }
    }
  }
}

/* form */
#captcha {
  width: 100%;
  #captcha_img {
    height: 62px;
  }
  #captcha_key {
    width: calc(100% - 193px);
    height: 62px;
  }
}

.form-mg-left {
  margin-left: 10px;
}

.form-mg-right {
  margin-right: 10px;
}

.form-pd {
  padding: 30px 20px;
}

.form-round {
  position: relative;
  padding: 25px 40px;
  border: solid 1px #cec8f1;
  border-radius: 20px;
  &.scroll {
    height: 260px;
    font-size: 13px;
    color: #989797;
    line-height: 18px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #f9f9f9;
  }
}

.form-half {
  display: inline-block;
  width: calc(50% - 22px);
  vertical-align: top;
  &.left {
    margin-right: 40px;
  }
}

.form-title {
  margin-bottom: 15px;
  font-size: 30px;
  color: #333333;
  &.center {
    text-align: center;
  }
}

.form-text {
  position: relative;
  font-size: 14px;
  color: #666666;
  &.center {
    text-align: center;
  }
}

.form-checkbox {
  margin-top: 20px;
}

.form-button {
  width: 100%;
  height: 60px;
  line-height: 58px;
  border-radius: 10px;
}

.form-list {
  &.border {
    border-top: 1px solid #333333;
    li {
      min-height: auto;
      padding: 0;
      border-top: 1px solid #ececec;
    }
    select {
      position: relative;
      width: 350px;
      height: 32px;
      font-size: 14px;
      padding: 0 10px;
      font-size: 13px;
      font-weight: 300;
      color: #888;
      border: solid 1px #ececec;
      border-radius: 5px;
      background-color: #f9f9f9;
      outline: none;
      &:focus {
        border: solid 1px #7e69fe;
      }
    }
    input[type='text'] {
      position: relative;
      height: 32px;
      margin-right: 0;
      padding: 0 10px;
      font-size: 13px;
      font-weight: 300;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
    .subject {
      position: relative;
      width: 120px;
      padding: 14px 0 13px 0;
    }
    .contact {
      max-width: 460px;
      padding: 0 14px 18px 14px;
    }
    .email {
      width: 344px;
    }
    .comment {
      width: 100%;
      margin-bottom: 10px;
    }
    .point {
      width: 86px;
      margin: 0 2px 0 12px;
      text-align: right;
      vertical-align: top;
    }
    .all {
      width: 70px;
      margin-top: 0;
      padding: 0;
      font-size: 13px;
    }
  }
  &.border-bottom {
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
  }
  li {
    position: relative;
    min-height: 42px;
    padding: 2px 0 2px 120px;
    font-size: 14px;
    color: #333333;
  }
  .total {
    position: relative;
    top: -1px;
    padding: 0 15px !important;
    border: 1px solid #7e69fe !important;
    background-color: #f9f9f9;
    .right {
      right: 15px;
    }
  }
  .text-right {
    text-align: right;
  }
  .Rajdhani {
    font-size: 26px;
    font-weight: 700;
    line-height: 0;
    vertical-align: -2px;
  }
  .lightgrey {
    font-size: 12px;
    font-weight: 300;
    color: #888888;
    line-height: 16px;
    word-break: keep-all;
  }
  .subject {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 120px;
    padding: 10px 0;
    &.w100 {
      width: 100%;
    }
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 88px);
    padding: 14px 0 13px 0;
    text-align: right;
    &.fill {
      padding: 9px 0 8px 0;
    }
  }
  select {
    width: 180px;
    color: #aaa;
    &:focus {
      color: #333333;
    }
  }
  input[type='text'] {
    width: 180px;
    margin-right: 10px;
  }
  .input-radio {
    top: -3px;
    margin-left: 20px;
  }
  .input-checkbox {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .break {
    margin: 6px 0 12px 0;
  }
  .form-captcha {
    margin-top: 5px;
    width: 350px;
  }
  .at {
    margin: 0 5px 0 -5px;
    font-size: 16px;
  }
  .account {
    padding: 0 0 10px 0;
    select {
      width: 300px;
    }
    input {
      width: 100px;
    }
  }
}

.form-login {
  .login-logo {
    position: relative;
    margin-bottom: 42px;
    text-align: center;
  }
  .login-input {
    position: relative;
    margin: 8px 0;
    input {
      height: 60px;
      padding: 0 20px;
      font-size: 16px;
      border-radius: 10px;
    }
  }
  .login-option {
    position: relative;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    .v-bar {
      margin-right: 20px;
      &::after {
        right: -12px;
      }
    }
    a {
      font-size: 14px;
    }
  }
  .form-button {
    margin: 25px 0 20px 0;
  }
  .login-sns {
    position: relative;
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
    border-top: 1px solid #dddddd;
    &::before {
      content: 'SNS LOGIN';
      position: absolute;
      top: -11px;
      left: 50%;
      display: block;
      width: 80px;
      margin-left: -40px;
      font-size: 12px;
      color: #666666;
      letter-spacing: 0;
      background-color: white;
    }
    a {
      display: inline-block;
      margin: 0 4px;
    }
  }
}

.form-password {
  .password-email {
    margin: 15px 0 20px 0;
  }
}

.form-clause {
  .article-title {
    margin-bottom: 12px;
    font-size: 14px;
    color: #333333;
  }
}

/* mypage */
.form-pannel {
  position: relative;
  height: 310px;
  padding: 30px;
  border: solid 1px #ececec;
  .title {
    margin-top: 0;
    margin-bottom: 15px;
  }
  &.mg-top {
    margin-top: 40px;
  }
}

.form-profile {
  .pd-left {
    position: relative;
    margin-top: 20px;
    padding-left: 140px;
  }
  .picture {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    .button {
      margin-top: 10px;
    }
  }
  .image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
  }
  .name {
    font-size: 18px;
    color: #333333;
  }
  .position {
    font-size: 14px;
    color: #888888;
  }
  .right {
    position: absolute;
    top: 6px;
    right: 0;
  }
  .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    background-color: #7e69fe;
    border-radius: 50%;
  }
  .gage {
    position: relative;
    width: 100%;
    height: 12px;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 14px;
    background-color: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0px 1px 3px 0 rgba(0, 0, 0, 0.1);
    .left {
      position: absolute;
      bottom: -24px;
      left: 0;
    }
    .right {
      position: absolute;
      top: auto;
      bottom: -26px;
      right: 0;
    }
  }
  .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: #7e69fe;
    border-radius: 6px;
  }
  .point {
    position: relative;
    padding: 25px 0;
    border-top: 1px solid #ececec;
    .icon {
      display: inline-block;
      width: 27px;
      height: 27px;
      margin-right: 5px;
      vertical-align: middle;
    }
    .right {
      top: 17px;
    }
    .Rajdhani {
      font-size: 24px;
      font-weight: bold;
      color: #7e69fe;
      vertical-align: middle;
    }
    .button {
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}

.form-list-clear {
  margin-top: 30px;
  li {
    min-height: auto;
    padding: 2px 0 2px 80px;
  }
  .subject {
    top: 2px;
    width: 80px;
    padding: 0;
  }
  .normal {
    font-weight: 300;
  }
}

.form-sns {
  margin-top: 38px;
  .icon {
    display: inline-block;
    &.disabled {
      filter: grayscale(100%);
      opacity: 0.4;
    }
  }
}

.form-table {
  position: relative;
  margin-bottom: 14px;
  border-top: 1px solid #333333;
  table {
    width: 100%;
  }
  td {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #aaaaaa;
    border-bottom: 1px solid #ececec;
  }
  .date {
    font-size: 12px;
  }
  .symbol {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border-radius: 3px;
    background-color: #efefef;
    vertical-align: middle;
  }
  .subject {
    padding: 13px 0;
    font-size: 15px;
    font-weight: 400;
    color: #333333;
  }
  .text-right {
    text-align: right;
  }
}

.dialog-profile {
  width: 540px;
}
